@{
    string backend = System.Web.Configuration.WebConfigurationManager.AppSettings["upload.folder.name"];
}
<link href="@Url.Content("~/Content/Map/reset.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/Map/big.css")" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Map/style.css")" />
<noscript><link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Map/noJS.css")" /></noscript>
<style type="text/css">
    #gobkDiv1 {
        position: absolute;
        width: 1920px;
        height: 70px;
        z-index: 99;
        left: 0px;
        top: 980px;
    }

    #menuDiv1 {
        position: absolute;
        z-index: 40;
        left: 1734px;
        top: 0px;
    }

    #menuDiv2 {
        position: absolute;
        z-index: 38;
        left: 1496px;
        top: 0px;
    }

    #menuDiv3 {
        position: absolute;
        z-index: 36;
        left: 573px;
        top: 0px;
    }

    #menuDiv4 {
        position: absolute;
        z-index: 28;
        left: 20px;
        top: 247px;
    }

    #ball1 {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 32;
        left: 441px;
        top: 282px;
    }
</style>

<!--總寬度1920扣除第一層選單186除以2扣除258(台灣的一半)-->
<div id="menuDiv4">
    <img src="@Url.Content("~/Images/Map/tw.png")" width="516" height="586" border="0" usemap="#Map1">
    <map name="Map1">
        <area shape="poly" coords="53,230,70,230,92,272,63,342,28,358,4,337,7,299,21,261,32,247" href="#">
        <area shape="poly" coords="245,356,205,488,228,516,217,577,92,367,118,279,137,284,175,270,291,303" href="#">
        <area shape="poly" coords="236,132,292,85,383,154,326,271,290,301,175,265,138,282,121,275,104,269" href="#">
        <area shape="poly" coords="437,0,499,32,515,71,478,121,457,161,408,157,384,149,296,82,319,47" href="#">
        <area shape="poly" coords="389,154,454,166,455,186,302,441,233,511,209,490,251,350,331,268,388,155" href="#">
    </map>
</div>
</div>
<!--選單區-->
<div id="menuDiv1" class="menubk">
    <div class="mBtn" style="height:420px;">
        <ul class="mBtn4D"></ul>
        <ul class="mBtn6"><a href="@Url.Action("PlanInside", "Map", new { categoryInsideID = TzuChiClassLibrary.BO.PlanInsideModel.CATEGORYQUTSIDEID_UNION })"></a></ul>
        <ul class="mBtn5"><a href="@Url.Action("PlanInside", "Map", new { categoryInsideID = TzuChiClassLibrary.BO.PlanInsideModel.CATEGORYQUTSIDEID_INTERNSHIP })"></a></ul>
    </div>
</div>
<div id="menuDiv2"></div>
<!--content-->
<div class="bk2Div">
    <div class="Title1">
        <img src="@Url.Content("~/Images/Map/title2.png")" width="420" height="95">
    </div>
    <div class="earthDiv" style="margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; opacity:0.2;">
    </div>
</div>

<div id="menuDiv3" class="TWmenu5bk">
    <div class="TWWINup" style="width:1161px;"><div class="WINclose"></div></div>
    <div class="TWWINdown" style=" margin-left:60px;width:1050px;	height:900px;overflow-x:hidden;overflow-y:visible;">
        
        @if (ViewBag.Data != null && ViewBag.Data.Count > 0)
        {
            if (ViewBag.Data[0].PicUrlList != null && ViewBag.Data[0].PicUrlList.Count > 0)
            {
                <img src="@backend@ViewBag.Data[0].PicUrlList[0].Path" width="995" align="middle">
            }
        }
    </div>
</div>