<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=1"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle2bL">
            <li class="StitleLtxt1">醫務管理系</li>
            <li class="StitleLtxt2">Department of Health Administration</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn1">傑出校友事蹟｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                傑出校友-江雪萍
                <p>        雪萍校友是本校醫務管理系92學年度的畢業生，他求學態度積極，待人親切有禮，一直以來均在國立陽明大學附設醫院任職，職場上也是一位優秀的人員，曾擔任社會服務室主任、醫務行政室主任等要職，工作能力良好深受醫院重用，參與醫院中2/3重要委員會之業務，如人體試驗審查委員會、績效考績委員會、甄審委員、公共工程委員會、醫院經營發展、醫療品質暨病人安全管理委員、資通安全管理委員會、病歷管理、電子病歷管理委員會、社會福利基金、性侵害防治、、等12個委員。他不僅在院內工作表現優秀，也不忘回饋社會，94年獲選為台灣病歷資訊管理學會第四屆理事、95年獲選為台灣健康保險協會第五屆理事，足見此校友之傑出深獲各界肯定。 </p>
                <p>雪萍雖工作繁忙，但仍不忘進修，在96學年度考上台灣大學公共衛生學院醫療機構管理研究所，97年完成碩士學位。雪萍在學術研究上的努力，也是表現亮眼，進行過病患就醫行為滿意度及忠誠度之關連性研究、社區慢性病共同照護網先驅實驗計畫等，並於台灣健康照護聯合學術研究會、96年台灣醫療照護品質指標系列(THIS)六週年大會、96年台灣醫療照護品質指標系列(THIS)五週年大會等發表。而且他還至元培科技大學及慈濟技術學院進行授課，將自己的經驗傳承給下一代， </p>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <p>99年奉教育部頒定為部定講師 </p>
                <p>&nbsp;</p>
                <p>
                    四、服務歷任一級主管要職： <br>
                    （一）92年陞任，統籌醫院行銷、媒體公關、醫療糾紛、社區醫療推展等並擔任公關發言人 <br>
                    （二）94年陞任，統籌醫療保險、病歷管理、院際醫療合作、經營發展..等醫務行政業務。 <br>
                    97年晉升薦任9職等，102年薦送簡任官等培訓 <br>
                    （三）94年、97年、99年及101年醫院參與新制醫院評鑑，擔任管理組副組長，協助醫院順利通過評鑑。 <br>
                    （四）歷年擔任醫院重要委會委員：人體試驗審查委員會、績效考績委員會、甄審委員、公共工程委員會、醫院經營發展、醫療品質暨病人安全管理委員、資通安全管理委員會、病歷管理、電子病歷管理委員會、社會福利基金、性侵害防治、、等共12個委員會即兼負全院2/3重要委員會之要務。 <br>
                    五、98年
                </p>
                <table border="1" cellspacing="0" cellpadding="10" width="980">
                    <tr>
                        <td width="309">
                            <br>
                            國際性/全國性競賽/發明展/其他優異成績(獎項/作品名稱/名次)
                        </td>
                        <td width="625">
                            <p>
                                研究計畫： <br>
                                病患就醫行為滿意度及忠誠度之關連性研究 <br>
                                社區慢性病共同照護網先驅實驗計畫 <br>
                                學術發表： <br>
                                預估TW-DRG 支付制度實施後對醫院經營績效之影響   97年碩士論文 <br>
                                病患退掛行為模式；97年台灣健康照護聯合學術研究會；海報發表 <br>
                                運用指標管理建立醫療營運管理機制；96年台灣醫療照護品質指標系列(THIS)六週年大會；海報發表 <br>
                                運用平衡計分卡提昇組織績效；96年台灣醫療照護品質指標系列(THIS)六週年大會；海報發表 <br>
                                品管工具改善申報時效之成果報告；96年台灣醫療照護品質指標系列(THIS)五週年大會；海報發表 <br>
                                運用品管圈手法改善病歷動向管控；96年台灣醫療照護品質指標系列(THIS)五週年大會海報發表 <br>
                                以資訊化公開之控床機制有效運用病床之方案；96年台灣醫療照護品質指標系列(THIS)五週年大會；海報發表
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="309"><p align="center">創業優異表現 </p></td>
                        <td width="625"><p>&nbsp;</p></td>
                    </tr>
                    <tr>
                        <td width="309">
                            <p align="center">
                                考取多種證照 <br>
                                (請列舉證照名稱)
                            </p>
                        </td>
                        <td width="625">
                            <p>
                                醫務管理師 <br>
                                病歷資訊管理師 <br>
                                ISMS主導稽核員 <br>
                                放射線技術師 <br>
                                游離輻射防護人員
                            </p>
                        </td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <p>
                    雪萍感言： <br>
                    任事於醫務管理領域至今已逾二十年，「醫管」這個名詞也在醫界從陌生漸成為醫院管理必修的課題，感念至深的是慈濟讓我在醫管領域的啟蒙。自進入管理階層愈能感受慈濟教學理念與文化，醫療需要的是人文與關懷，管理是門藝術，而醫院經營的核心價值不就是如此。相信學弟妹們與我有共同的體認，醫界需要專業與人文兼具的管理人才，慈濟學子一定當然不讓；「能成為慈濟學子，是幸運也是值得驕傲的」
                </p>
                <p>&nbsp;</p>
                <p>
                    讀技職經驗或學習心得分享：（約300-500字） <br>
                    回首30年前，「大學」是一道遙不可及的窄門，選擇專科不可否認在「讀書」這條路上已經明確的是輸在起跑點，在當下所有的父母以及在求學路程徬徨的自己甚至這個社會幾乎一致認定「技職院校」是次選，但殊不知卻是人生職涯發展上重要的轉捩點。 <br>
                    「醫學」一直以來都是我非常感興趣領域，但在學程制度的高門檻下我為自己找尋跨越的界面，幸而，屬於我們的年代有諸多技職學校，在技職的學程中找到了自信與肯定也奠基了求學求知續航的動力。從專科時期選擇「醫專」使自己有機會在專門職業技術的培育下進入醫療職場，潛在的突破與學習的動能致使我再度跨越醫療管理領域，「二技」的醫務管理學程是我在醫務管理領域的啟蒙，也是我人生另一個重要的關鍵啟程，在職場因為專業知能的提升增進了提攜與晉升機會，續學的毅力推動我終於跨入台灣最高學府的門檻。 <br>
                    在我人生的每一階段技職院校鋪陳了每一段向上的階梯，雖然在就學的起跑點上我無法跑在第一棒，但是在接力賽的過程中有沒有機會與潛力續航才是致勝的關鍵。最是感念技職學程的培育讓我深切明瞭「讀書」與「求知」的不同，一技之長可以讓我昂首闊步地進入職場，尤其培養出自信心與自學力，資質平庸只要找對方向一樣可以開啟自己的康莊大道。
                </p>
            </ul>
        </div>
    </div>
</div>
