<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=1"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle2bL">
            <li class="StitleLtxt1">醫務管理系</li>
            <li class="StitleLtxt2">Department of Health Administration</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn1">社會與企業肯定｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">佛教醫療財團法人花蓮慈濟醫院 - 對校友的肯定</span>
                <br>
                慈濟技術醫管系學生在經過四年專業教育及人文薰陶後，進入職場服務具有相當競爭優勢。
                <br>
                首先在醫院整體宗旨目標發展推動上，慈濟醫管系培養的學生擁有高度配合性，充分瞭解推動方向後，能積極配合醫院所訂定之目標全力以赴，再則慈濟技術學院醫管系畢業生已獲為花蓮慈院醫管行政的主力幹部，在專部地區相對資源及專業人才缺乏的情形下，能為醫管專業培育所需人才，相對立促成醫療服務品質的提升。
                如今慈濟技術學院醫務管理系的畢業生已漸漸成為各醫院行政管理單位的主管人才，未來也期許為台灣醫管界帶來一股清流，呼應慈濟技術學院創校宗旨&rdquo;慈悲喜捨&rdquo;的精神，豎立醫管人品典範。
                <br>
                <br>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;"> 門諾醫院 - 對校友的肯定</span>
                <br>
                慈濟技術醫管系學生在經過四年專業教育及人文薰陶後，進入職場服務具有相當競爭優勢。
                <br>
                首先在醫院整體宗旨目標發展推動上，慈濟醫管系培養的學生擁有高度配合性，充分瞭解推動方向後，能積極配合醫院所訂定之目標全力以赴，再則慈濟技術學院醫管系畢業生已獲為花蓮慈院醫管行政的主力幹部，在專部地區相對資源及專業人才缺乏的情形下，能為醫管專業培育所需人才，相對立促成醫療服務品質的提升。
                如今慈濟技術學院醫務管理系的畢業生已漸漸成為各醫院行政管理單位的主管人才，未來也期許為台灣醫管界帶來一股清流，呼應慈濟技術學院創校宗旨&rdquo;慈悲喜捨&rdquo;的精神，豎立醫管人品典範。
                <br>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;"> 署立花蓮醫院 - 對校友的肯定</span>
                <br>
                就職場上的所見有感，慈濟醫管畢業校友於臨床上的工作表現特質為：腳踏實地與工作熱忱，且不會像社會上一些趨炎附勢的人，或許不會說好聽的話，但卻誠正信實，這於能夠觀察入微的主管眼中，是個不折不扣的最佳工作伙伴，可能是在校方風氣的薰陶下孕育出校友的特有文化；她(他)們往往具有正義感，說該說的話，做該做的事，能忠於職守，於時效內完成交辦事項，兢兢業業不怠惰，能與同仁真心互動，不計較，可謂是「歡喜做、甘願受」之最佳典範；慈濟醫管畢業校友是業界爭相任用的品質保證。
                <br>
                <br>
            </ul>
        </div>
    </div>
</div>
