<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=1"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle2bL">
            <li class="StitleLtxt1">醫務管理系</li>
            <li class="StitleLtxt2">Department of Health Administration</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn1">歷史脈絡｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <div class="ScontL">
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgsb1.jpg")" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgsb2.jpg")" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgsb3.jpg")" width="300" height="200" border="0"></ul>
            </div>
            <div class="ScontR">
                <ul class="Sconttxt">
                    1995年4月17日奉教育部台（八四）技字第o一七三o七號函核准本校於八十四學年度增設醫務管理科一班，參加北區四技二專日間部聯招商業類考試，1997年6月醫務管理科第一屆學生畢業。
                    <br>
                    1998年度經教育部專科學校評鑑為一等。
                    <br>
                    1999年4月23日奉教育部台（八八）技（二）字第八八o四二九三六號函核准本校改制為技術學院附設專科部，醫務管理科改制為醫務管理系，增設二年制醫務管理系，醫務管理科仍繼續招生。
                    <br>
                    2000年增設四年制醫務管理系及進修部二年制醫務理系在職專班各一班，停招二年制專科 。
                    <br>
                    2002年度停招二年制醫務管理系。
                    <br>
                    2003年招收四年制醫務管理系。
                    <br>
                    2004年停招二年制醫務管理系在職專班。
                    <br>
                    2008年招收四年制醫務管理系二班。
                </ul>
            </div>
        </div>
    </div>
</div>
