<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=1"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle2bL">
            <li class="StitleLtxt1">醫務管理系</li>
            <li class="StitleLtxt2">Department of Health Administration</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn1">榮譽榜｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="margin:0px 0px 0px 10px;width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">全國專題競賽榮譽榜</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgb6.jpg")" width="1280" height="650"></ul>
            <ul class="Sconttxt" style="width:1280px;">
                <br>
                <table border="1" align="center" cellpadding="10" cellspacing="0">
                    <tr>
                        <td width="335" align="center" bgcolor="#D7F2FF">日期</td>
                        <td width="800" valign="top" bgcolor="#D7F2FF"><p align="center">榮譽事蹟</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">101學年度 2013/03/15</p></td>
                        <td width="800" align="left" valign="top">醫務管理系學生榮獲「2013健康照護資訊與管理相關科系學生專題競賽」特優及佳作</td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">100學年度 2012/03/16</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>2012全國健康照護資訊與管理學生專題競賽發表會    醫管系學生獲特優</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">99學年度 2011/7/1</p></td>
                        <td width="800" align="left" valign="top"><p>醫務管理系在玉山醫務暨健康管理學會學術研討會、亞東技術學院健康產業管理學術研討會上屢獲傑出成績，99學年度共計榮獲全國特優、優等、佳作等56人次之獎項</p></td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">98學年度 2010/7/1</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>2010健康產業管理相關科系學生專題競賽發表會    醫管系表現傑出</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">98學年度 2010/6/7</p></td>
                        <td width="800" align="left" valign="top"><p>全國2010觀光休憩物流資訊技術應用競賽 醫管系獲第一名與佳作殊榮</p></td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">98學年度 2010/5/22</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>2010年全國學生專題競賽    醫務管理系應屆畢業生囊括各類組前三名</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">97學年度</p></td>
                        <td width="800" align="left" valign="top"><p>第十二屆全國經營管理實務專題獲得佳作</p></td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">97學年度</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>2009年玉山醫務暨健康管理學會學術研討會－全國醫務管理學生專題論文競賽分別榮獲第一名及第二名佳績</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">97學年度</p></td>
                        <td width="800" align="left" valign="top"><p>榮獲第五屆全國學生實務專題製作競賽成果發表會優選佳績</p></td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">96學年度</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>2008醫療品質與管理國際研討會榮獲醫療科技產業管理議題組第三名及佳作、其他醫療產業與健康照護議題組佳作</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">94學年度</p></td>
                        <td width="800" align="left" valign="top"><p>2006年全國大學院校醫務管理系專題競賽    榮獲第二名</p></td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">93學年度</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>2005年全國大學院校醫務管理系專題競賽    榮獲社區衛生與健康行為組佳作</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">92學年度</p></td>
                        <td width="800" align="left" valign="top"><p>2004全國大學院校醫務管理系專題競賽榮獲A、B組第一名及B組第二名</p></td>
                    </tr>

                </table>
            </ul>
            <ul class="Sconttxt" style="margin:0px 0px 0px 10px;width:1280px; text-align:center;">
                <br>
                <span style="color:#2e6aa2;">證照檢定考試榮譽榜</span>
            </ul>
            <ul class="Scontimg">
                <img src="@Url.Content("~/Images/Map/school/imgb7.jpg")" width="1280" height="650">
            </ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <br>
                <table border="1" align="center" cellpadding="10" cellspacing="0">
                    <tr>
                        <td width="335" align="center" bgcolor="#D7F2FF">日期</td>
                        <td width="843" valign="top" bgcolor="#D7F2FF"><p align="center">榮譽事蹟</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">101學年度 2012/11/03</p></td>
                        <td width="800" align="left" valign="top"><p>醫務管理系大四學生考取醫學資訊管理師 考取率全國第一</p></td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">100學年度 2011/10/31</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>醫務管理系大四學生 拿下醫學資訊管理師考照通過率100％</p></td>
                    </tr>
                    <tr>
                        <td width="335"><p align="center">99學年度 2011/7/1</p></td>
                        <td width="800" align="left" valign="top"><p>99學年度醫務管理師證照考試，全國錄取率30％，而醫務管理系大四學生的考取率為80％；至於醫學資訊師證照，該系學生考取率更高達87％，遠高於全國平均的59％，在國內醫務管理相關科系中排名第一，由本系王湘茹同學獲得榜首。</p></td>
                    </tr>
                    <tr>
                        <td width="335" bgcolor="#E6FFFE"><p align="center">98學年度 2010/6/1</p></td>
                        <td width="800" align="left" valign="top" bgcolor="#E6FFFE"><p>慈濟技術學院全國醫務管理師檢定考試38人應考，共考取27位，總錄取率高達71％，表現優異。</p></td>
                    </tr>
                </table>
            </ul>
            <ul class="Sconttxt" style="margin:0px 0px 0px 10px;width:1280px; text-align:center;">
                <br>
                <span style="color:#2e6aa2;">其他全國性校外競賽榮譽榜</span>
            </ul>
            <ul class="Scontimg">
                <img src="@Url.Content("~/Images/Map/school/imgb8.jpg")" width="1280" height="650">
            </ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <br>
                <table border="1" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="335" align="center" bgcolor="#D7F2FF">日期</td>
                        <td width="843" valign="top" bgcolor="#D7F2FF"><p align="center">榮譽事蹟</p></td>
                    </tr>
                    <tr>
                        <td width="103"><p align="center">100學年度 2012/03/03</p></td>
                        <td width="540" align="left" valign="top"><p>第一屆全國創意服務競賽 醫管系學生榮獲第二名佳績</p></td>
                    </tr>
                    <tr>
                        <td width="103" bgcolor="#E6FFFE"><p align="center">100學年度 2011/8/11</p></td>
                        <td width="540" align="left" valign="top" bgcolor="#E6FFFE"><p>醫務管理系鄒欣縈、吳柏樺、劉宜華、呂佳容、曹雅琪、陳民弦等同學榮獲100年青年政策論壇全國會議優勝佳績，獲選參與青年政策論壇全國會議 當面向馬總統獻策</p></td>
                    </tr>
                    <tr>
                        <td width="103"><p align="center">98學年度</p></td>
                        <td width="540" align="left" valign="top"><p>醫務管理系李岩城同學參加98學年度全國學生音樂比賽，榮獲大專B組笛獨奏第一名及大專B組簫獨奏第一名</p></td>
                    </tr>
                    <tr>
                        <td width="103" bgcolor="#E6FFFE"><p align="center">97學年度</p></td>
                        <td width="540" align="left" valign="top" bgcolor="#E6FFFE"><p>全國電力溝通宣導與多媒體廣告製作競賽活動，醫管系陳家潔及葉思妤同學分別榮獲專業組第一名及大專組第三名的佳績</p></td>
                    </tr>
                    <tr>
                        <td width="103"><p align="center">97學年度</p></td>
                        <td width="540" align="left" valign="top"><p>邱绣樺、游翔翊同學參加北區技專校院英語簡報比賽獲得佳作</p></td>
                    </tr>
                    <tr>
                        <td width="103" bgcolor="#E6FFFE"><p align="center">97學年度</p></td>
                        <td width="540" align="left" valign="top" bgcolor="#E6FFFE"><p>醫務管理系邱慈穎同學獲選全國大專優秀青年</p></td>
                    </tr>
                    <tr>
                        <td width="103"><p align="center">96學年度</p></td>
                        <td width="540" align="left" valign="top"><p>醫務管理系黃琪玲、邱慈穎、陳冠字、賴妤珊、張季柔等同學參加技專院校英語說故事競賽榮獲第一名佳績。</p></td>
                    </tr>
                    <tr>
                        <td width="103"><p align="center">96學年度</p></td>
                        <td width="540" align="left" valign="top"><p>醫務管理系陳韋銘同學獲選教育部全國大專校院辦理服務學習/志願服務績優優良志工</p></td>
                    </tr>
                </table>
            </ul>
        </div>
    </div>
</div>
