
<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=1"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle2bL">
            <li class="StitleLtxt1">醫務管理系</li>
            <li class="StitleLtxt2">Department of Health Administration</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn1">專業教室照片</div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">多功能E化教室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb11.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">多功能E化教室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb10.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">多功能E化教室(三)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb9.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">健康資訊管理電腦教室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb12.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">健康資訊管理電腦教室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb13.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">健康資訊管理電腦教室(三)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb14.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理互動教室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb15.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理互動教室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb16.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理健康資訊討論室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb20.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理健康資訊討論室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb17.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理健康資訊討論室(三)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb18.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理健康資訊討論室(四)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb19.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理專題討論室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb23.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理專題討論室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb22.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理專題討論室(三)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb21.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理專題討論室(四)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb24.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理情境模擬情境教室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb25.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理情境模擬情境教室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb26.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">醫務管理情境模擬情境教室(三)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgb27.jpg" width="1280" height="600" border="0"></ul>
            <p></p><p></p>
        </div>
    </div>
</div>