<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=1"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle2bL">
            <li class="StitleLtxt1">醫務管理系</li>
            <li class="StitleLtxt2">Department of Health Administration</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn1">歷屆主任 ｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartHealthPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic58.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第一任 1995/08/01-1999/07/31
                <br>
                姓名：陳筱華
                <br>
                簡介：畢業於美國維吉尼亞州立大學醫務管理博士，現任國立東華大學企業管理學系運籌管理研究所。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic74.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第二任 1999/08/01-2001/07/31
                <br>
                姓名：郭德貞
                <br>
                簡介：無資料
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic26.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第三任 2001/08/01-2002/07/31
                <br>
                姓名：陳翰霖
                <br>
                簡介：畢業於中國文化大學地學研究所地理組理學博士（1994/08~1999/06）、國立台灣師範大學地理研究所文學碩士（1992/08~1994/06）、台北市立師範學院社會科教育學系學士（1988/07~1992/08），曾任花蓮縣災害防救專家諮詢委員（2007/08~2009/07）、花蓮縣防災作業能力計劃教育訓練講師(2005/01~2006/12)、 慈濟技術學院總務處總務長(2002/08~2006/10)、 慈濟技術學院醫務管理系主任(2001/08~2002/07)、 國立台灣師範大學台灣地形研究室助理(1992/08~1999/07)，現任慈濟技術學院通識教育中心副教授（2008/02~迄今）
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic65.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第四任 2002/08/01-2005/07/31
                <br>
                姓名：朱正一
                <br>
                簡介：畢業於美華盛頓大學企業管理碩士、美愛荷華大學醫管博士，曾任和信企業群台泥集團企劃室（1984/ 6～1991/6)、慈濟大學公共衛生學系講師（1995/ 8～2001/5）、慈濟基金會總管理中心人事室主任（1991/ 8～1997/8）、University of Iowa, Department of Health Management &amp; Policy研究助理（1998/9 ～2001/5），現任慈濟大學公共衛生學系副教授（2001/06迄今）
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic40.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第五任 2005/08/01-2012/07/31
                <br>
                姓名：蔡宗宏
                <br>
                簡介：畢業於國立東華大學企業管理研究所博士、交通大學應用數學研究所碩士，曾任經濟部資訊工業策進會副工程師，工程師，專案經理(81/10~88/07) 、中國信託銀行資訊部襄理(88)、慈濟技術學院講師兼課外活動組組長(88/09~90/07)、慈濟技術學院電算中心主任(92/03~95/07)、慈濟技術學院醫管系主任(94/08~101/7)、現任慈濟技術學院教務長(101/8~迄今)
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic52.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第六任 2012/08/01-迄今
                <br>
                姓名：藍毓莉
                <br>
                簡介：畢業於慈濟大學，醫學研究所，博士，91/9～95/6、國立台灣大學，醫療機構管理研究所，碩士，86/9～88/6。現職慈濟技術學院醫務管理系主任一職。
                <br>
                <br>
                <br>
            </ul>
        </div>
    </div>
</div>
