<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=5"></a></div>
@*<div id="EngDiv1" class="WINEng"><a href="#"><img src="@Url.Content("~/Images/Map/btn5.png")" width="178" height="78" border="0"></a></div>*@
<!--content-->
<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle6L">
            <li class="StitleLtxt1">進修推廣部</li>
            <li class="StitleLtxt2">General Education Center</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn1">歷史脈絡｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_EducationDepartPartial" })">進修教育 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_PromotionCollegePartial" })">推廣教育</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <div class="ScontL">
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgs302.jpg")" width="300" height="200"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgs301.jpg")" width="300" height="200"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgs303.jpg")" width="300" height="200"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgs304.jpg")" width="300" height="200"></ul>
            </div>
            <div class="ScontR">
                <ul class="Sconttxt">
                    1992年度夜間部招生。
                    <br>
                    1994年度成立夜間部辦公室。
                    <br>
                    1995年度設立推廣教育中心。
                    <br>
                    1999年度與夜間部合併為進修推廣部。
                    <br>
                    2000年度開始招收幼兒保育科在職專班一班及醫務管理系在職專班一班。
                    <br>
                    2001年度護理科在職班停招，增招護理系在職班一班、大林在職專班一班及醫務管理系在職專班一班。
                    <br>
                    2002年度及2003年度續招護理系在職班一班、大林在職專班一班及醫務管理系在職專班一班。
                    <br>
                    2004年度醫務管理系在職專班停招，增招幼兒保育系進修部一班。
                    <br>
                    2004年度共有九班為：護理系進修部三班，護理系在職專班三班，醫務管理系在職專班二班及幼兒保育系進修部一班。
                    <br>
                    2005年度續招二技進修部護理系一班及進修部二年制護理系在職專班一班。
                    11.
                    <br>
                    2005年度共有八班為：護理系進修部三班，護理系在職專班三班，醫務管理系在職專班一班及幼兒保育系進修部一班。
                    <br>
                    2005年度二年制進修部幼兒保育系停招。
                    <br>
                    2006年度續招進修部二年制護理系一班及進修部二年制護理系在職專班一班。共有七班為：進修部三班，護理系在職專班三班及幼兒保育系進修部一班。
                    <br>
                    2007年度續招進修部二年制護理系一班及進修部二年制護理系在職專班一班。共有六班為進修部三班，護理系在職專班三班。
                    <br>
                    2008年度續招進修部二年制護理系一班及進修部二年制護理系在職專班一班。共有六班為進修部三班，護理系在職專班三班。
                    <br>
                    2009年度成立進修學院，並招收二技護理系一班，續招進修部二年制護理系一班；二年制護理系在職專班停招。共有六班為進修部三班，護理系在職專班二班及進修學院二技護理系一班。
                    <br>
                    2010年度續招進修學院二技護理系一班及進修部二年制護理系一班。共有六班為進修部三班，護理系在職專班一班及進修學院二技護理系二班。
                    <br>
                    2011年度續招修學院二技護理及進修部二年制護理系各一班。共有五班，分別為進修部二班，進修學院二技護理系三班。
                </ul>
            </div>
        </div>
    </div>
</div>