<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=5"></a></div>
@*<div id="EngDiv1" class="WINEng"><a href="#"><img src="@Url.Content("~/Images/Map/btn5.png")" width="178" height="78" border="0"></a></div>*@
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="StitleL">
            <li class="StitleLtxt1">進修推廣部</li>
            <li class="StitleLtxt2">Division of Continuing & Extension Education</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_EducationDepartPartial" })">進修教育｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_PromotionCollegePartial" })">樂齡大學｜　</a></div>
        <div class="SmenuBtn1">學分班｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_PromotionNonCreditsPartial" })">非學分班推廣教育課程</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <div class="ScontL">
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/img1.jpg")" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/img2.jpg")" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/img3.jpg")" width="300" height="200" border="0"></ul>
            </div>
            <div class="ScontR">
                <ul class="Sconttxt">
                    1.1989年創立，設置二年制護理科。
                    <br>
                    2.1990年設置五年制護理助產科，1991年改為護理科
                    <br>
                    3.1995年增設二年制復健科、幼兒保育科及醫務管理科。
                    <br>
                    4.1996年增設二年制日間部放射技術科，開始以單獨招生方式辦理原住民學生免費就讀本校五年制護理科。
                    <br>
                    5.1999年改制為慈濟技術學院，設置大學部二年制日間部物理治療系、放射技術系、醫務管理系、幼兒保育系，並停招專科部二年制日間部放射技術科、物理治療科 ( 原復健科 ) 及二年制夜間部護理科普通班。
                    <br>
                    6.2000年增設四年制日間部物理治療系、放射技術系、醫務管理系、幼兒保育系、會計系；二年制日間部醫務管理科停招；另增設 : 二年制夜間部幼兒保育科在職專班及二年制進修部醫務管理系在職專班。
                    <br>
                    7.2006年增設四年制資訊工程系一班，二年制日間部護理系增招一班。
                    <br>
                    8.目前本校日間部四年制設有護理系、醫務管理系、行銷與流通管理系、資訊科技與管理系、醫學影像暨放射科學系，日間部五專設有護理科、日間部二年制設有護理系，研究所設有放射醫學科學研究所，並設有進修部與進修學院。
                </ul>
            </div>
        </div>
    </div>
</div>
