<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=3"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="//Images/Map/Map/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="//Images/Map/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle4dL">
            <li class="StitleLtxt1">資訊科技與管理系</li>
            <li class="StitleLtxt2">Department of Information Technology and Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HistoryPartial" })" ">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn1">社會與企業肯定｜　</div>
        @*<div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div*@
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">教育志業與慈善資訊合作，共創科技傳法新契機</span>
                <br>
                <p align="right">
                    圖文：陳靈均 <br>
                    2013/7/19
                </p>
                慈濟基金會資訊處位處於花蓮，一直有取得資訊人才不易的困擾。除了因為先天的地理位置，不如北部資訊公司理想，也因為慈濟基金會的非營利組織特質，使得召募資訊人才的作業困難重重。大部分的資訊從業人員，都因為北部有較多的機會，想到北部試煉一下，即使是花蓮本地的資訊人才，也跳脫不出這種傳統的思維。並且，因為慈濟基金會是一個非營利的慈善組織，也容易讓應徵者誤以為整體資訊水準不如業界，導致在投寄履歷時，對於慈濟基金會資訊處的職缺，總是望門心怯，也同時影響了慈濟基金會的資訊人才招募進度。

                <br>
                2009年初，慈濟基金會資訊處與慈濟技術學院資工系，展開了人才培育、永續經營的合作關係，希望慈濟自己培養的優秀人才，能夠於畢業後留任慈濟志業體中，進而永續的發光發熱。資訊處與當時的許瑋麟主任（現任慈濟技術學院主祕）展開了許多的培育計畫。除了剛開始的工讀生計畫、及每年的專題與產學合作，之後，更有一連串的教學培育合作規劃，包含本位課程的調整與改善，等等。這些努力，是期待畢業的同學，就具備進入職場（特別是進入慈濟志業）的能力。此一合作結盟，不但為慈濟基金會的資訊人才，注入了活水源頭；更加強了四大一體的概念，使得慈善志業與教育志業有了更緊密而務實的結合。
                <br>
            </ul>
            <ul class="Scontimg" style="width:350px;">
                <img src="/Images/Map/school/imgd16.jpg" width="350">
            </ul>
            <ul class="Sconttxt" style="width:880px;">
                在資工系賴志明前主任與現任的林正榮主任的接連堅持下，戮力經營的合作關係，終於開花結果。在2012年7月16日，技術學院資工系的第二屆畢業生，陳皓同學，正式加入資訊處的團隊，成為數位資料小組中的第一位技術學院的畢業同學。剛退伍的他，擔任媒體設計師的職位，雖然看的到初入社會新鮮人的生澀，但更顯著的，是他身上散發出來的慈濟人文氣息。慈濟技術學院的四年薰陶，不但帶給他學術的能力，更培養出了溫文有禮的特質，這個特質，是一般大專院校所不容易看到的。陳皓同學，曾經在2010年參加過慈濟基金會與資工系所舉辦的多媒體專案，在專案期間，其優異的表現，獲得長官們一致的好評，也為自己日後回歸志業體工作，奠下了良好的基礎。
                <br>
                <br>
            </ul>
            <ul class="Sconttxt" style="width:880px;">
                <p>　　同年的8月1日，技術學院的第三屆畢業生，賴昌群同學，加入了資訊處軟體開發組，擔任軟體開發工程師的角色。不同於陳皓同學的是，昌群同學之前並沒有到基金會資訊處見實習的機會。但相同的是，同仁們都能可以看到，該員也擁有慈濟畢業生的優異氣質。此外，昌群同學也是第一位經由系上老師大力推薦，而進入基金會資訊處上班的學生。昌群同學的指導教授，杜信志老師，極力推薦該生的程式寫作能力，與優異的品德。果然，在試用的三個月期間，即以超高的成績，深獲組長的青睞，進而錄取成為正式的成員。 2013年初，陸續又有好幾位的慈濟技術學院資工系畢業生，接連的向基金會提出求職申請。這除了是同學們對於基金會資訊處的認同，也印證了百年樹人的教育志業，將是基金會資訊處最好的人才活水源頭。</p>
            </ul>
            <ul class="Scontimg" style="width:350px;">
                <img src="/Images/Map/school/imgd17.jpg" width="350">
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <p>這活水源頭的開啟，是雙方合作成功的最好證明，更為四大志業的整合，樹立了一個成功的典範。 </p>
                <p>
                    四大志業的工作，需要許多的菩薩們一起來推動。如何建立一條訊息暢通的資訊高速網路，是刻不容緩的事情，也是每一位慈濟人的使命。新的時代，需要用新的科技來弘揚慈濟，慈濟技術學院資工系同學們的適時加入，為科技傳法的任務，注入了一股新的生命力。慈濟人不說辛苦，只說幸福，感恩之前許多菩薩們的精進，才有今日豐收的成果。期待雙方的鈞長菩薩們合心協力，禀持慈濟人的大愛胸懷，繼續合作，替整體慈濟的永續經營努力，將慈濟的美善，傳播到世界的每一個角落。感恩。<br>
                </p>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" align="center" valign="middle"><img src="/Images/Map/school/imgd19.jpg" width="600" height="400" align="middle" class="Scontimg"></td>
                        <td width="50%" align="center" valign="middle"><img src="/Images/Map/school/imgd18.jpg" width="600" height="400" class="Scontimg"></td>
                    </tr>
                    <tr>
                        <td>大愛電視台-許育瑄</td>
                        <td>黃冠樺_蘇州慈濟健檢中心</td>
                    </tr>
                </table>
                <p>&nbsp; </p>
            </ul>
        </div>
    </div>
</div>
