<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=3"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/school/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle4dL">
            <li class="StitleLtxt1">資訊科技與管理系</li>
            <li class="StitleLtxt2">Department of Information Technology and Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn1">歷史脈絡｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        @*<div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div*@
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="ScontL">
            <ul class="Scontimg"><img src="/Images/Map/school/imgsd1.jpg" width="300" height="200" border="0"></ul>
            <ul class="Scontimg">
                <img src="/Images/Map/school/imgsd2.jpg" width="300" height="200" border="0">
            </ul>
        </div>
        <div class="ScontR">
            <ul class="Sconttxt">
                2006年度創立，招收四年制日間部資訊工程系一班。
                <br>
                2009年度四年制日間部資訊工程系增加招生一班。
                <br>
                2010年度起將四年制日間部資訊工程系分組為「資訊工程組」及「資訊科技與管理組」，每組各招生一班。
                <br>
                2013年度更名為「資訊科技與管理系」，分組為「資訊科技組」及「資訊管理組」，每組各招生一班。
            </ul>
        </div>
    </div>
</div>
