<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=3"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/school/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle4dL">
            <li class="StitleLtxt1">資訊科技與管理系</li>
            <li class="StitleLtxt2">Department of Information Technology and Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn1">榮譽榜｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        @*<div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div*@
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <table width="1080" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="974" valign="top"><span class="Sconttxt" style="color:#2e6aa2;">一、本系參加98年全國電力溝通宣導與多媒體廣告製作競賽活動獲得大專組第3名</span></td>
                </tr>
                <tr>
                    <td width="974" valign="top">
                        <span class="Sconttxt">
                            榮獲大專組第三名 <br>
                            題目：千里一線牽<br>
                            指導老師：馮振邦老師 <br>
                            製作：資四三甲 王晨馨
                        </span>
                    </td>
                </tr>
            </table>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="708" valign="top">

                            <span class="Sconttxt" style="color:#2e6aa2;">二、本系張櫻馨同學獲得「保德信青少年志工菁英獎傑出志工獎」</span>
                            <span class="Sconttxt" style="width:700px;">賀 !本系張櫻馨同學獲得「保德信青少年志工菁英獎傑出志工獎」</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="708" align="left" valign="top" class="Sconttxt">
                            <img src="/Images/Map/school/imgd4.jpg" width="350" height="412" class="Scontimg"><br>
                            <br>
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="708" valign="top"><span class="Sconttxt" style="color:#2e6aa2;">三、本系參加九十七年度全國電力多媒體比賽獲得專業組第1名及大專組第3名</span></td>
                    </tr>
                    <tr>
                        <td width="708" valign="top" class="Sconttxt">
                            榮獲專業組第一名 <br>
                            題目：千里一線牽<br>
                            指導老師：許瑋麟主任 <br>
                            製作：電算中心 賴愛姍 / 資四一甲 李柏璽 / 資四一甲 劉文凱 / 資四一甲 洪于翔 / 醫四三甲 陳家潔 <img src="/Images/Map/school/imgd5.jpg" width="350" height="526" class="Scontimg">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            榮獲大專組第三名 <br>
                            題目：綠色能源新主張<br>
                            指導老師：許瑋麟主任 <br>
                            製作：資四二甲 王晨馨 / 資四三甲 林于珊 / 醫四三甲 葉思妤 <img src="/Images/Map/school/imgd3.jpg" width="350" height="531" class="Scontimg">
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="708" valign="top">
                            <span class="Sconttxt" style="width:1080px;color:#2e6aa2;">四、2008『資訊安全』電腦多媒體動畫校際競賽得獎名單</span>
                            <span class="Sconttxt" style="width:1080px;">
                                2008『資訊安全』電腦多媒體動畫校際競賽<br>
                                得獎名單：
                                <br>
                                第2名－慈濟技術學院王晨馨同學、廖宣威同學、賴芷嫻同學 <br>
                                第3名－慈濟技術學院周怡君同學、郭科佑同學、蔡育延同學
                                <br>
                                佳作－
                                <br>
                                第1組－慈濟技術學院林正中同學、陳柏青同學、鍾旻禮同學
                                <br>
                                第4組－慈濟技術學院徐煥騰同學、李慶恩同學、彭中宸同學
                                <br>
                                第5組－慈濟技術學院王芝丰同學、邱靖雯同學、謝佩珊同學 <br>
                            </span>
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="708" valign="top">
                            <span class="Sconttxt" style="width:1080px;color:#2e6aa2;">五、本系參加九十六年度全國電力多媒體比賽榮獲社會組第一名!!</span>
                            <span class="Sconttxt" style="width:1080px;">
                                資訊工程系同學參加九十六年度全國電力多媒體比賽
                                榮獲社會組第一名 (活動日期:96.12.03)
                                <br>
                                題目：青山綠水談環保
                                <br>
                                指導老師：許瑋麟主任
                                <br>
                                製作：電算中心 賴愛姍 / 資四一甲 許勝淳  / 資四一甲 徐明睿 /
                                資四一甲 蔡漢書 <br>
                                <img src="/Images/Map/school/imgd1.jpg" width="350" height="490" class="Scontimg">
                            </span>
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="708" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">六、資訊工程系參加九十五年度全國電力多媒體比賽榮獲社會組第一名!!</span>
                            <span class="Sconttxt" style="width:1000px;">
                                資訊工程系林志豪同學參加
                                九十五年度全國電力多媒體比賽
                                榮獲社會組第一名
                            </span>
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="708" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">七、賀！本系資四三甲張詠欣同學獲得教育部資訊志工計畫-優良志工獎</span>
                            <span class="Sconttxt" style="width:1000px;">
                                得獎同學：資四三甲張詠欣同學 (慈濟技術學院資訊志工團隊隊長)
                                <br>
                                領隊：資工系許瑋麟主任
                                <br>
                                指導老師：
                                資工系杜信志老師、護理系陳姿妃老師、會資系陳皇曄老師
                            </span>
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="708" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">八、賀!本系系學會獲98年度-校內社團評鑑自治性社團第二名優等佳績</span>
                            <span class="Sconttxt" style="width:1000px;">
                                賀 !本系系學會獲98年度-校內社團評鑑自治性社團第二名優等佳績<br>
                                <img src="/Images/Map/school/imgd6.jpg" width="350" height="525" class="Scontimg">
                            </span>
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">九、 2011電腦多媒體動畫校際競賽大專組第一名及第二名、第三名</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd7.jpg" width="350" class="Scontimg"></td>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd8.jpg" width="350" height="596" class="Scontimg"></td>
                        <td width="336" valign="top"><img src="/Images/Map/school/imgd9.jpg" width="350" height="596" class="Scontimg"></td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">十、 2010電腦多媒體動畫校際競賽大專組第一名及第二名</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd11.jpg" width="350" class="Scontimg"></td>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd10.jpg" width="350" height="596" class="Scontimg"></td>
                        <td width="336" valign="top">&nbsp;</td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">十一、本系參加97年全國電力溝通宣導與多媒體廣告製作競賽活動獲得大專組第一名</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd2.jpg" width="350" class="Scontimg"></td>
                        <td width="708" valign="top">&nbsp;</td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">
                                十二、99年榮獲教育部主辦全國大專院校學生社團評鑑暨觀摩活動【技專組】
                                自治性、綜合性績優獎
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd12.jpg" width="700" class="Scontimg"></td>
                        <td width="708" valign="top">&nbsp;</td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">十三、榮獲100年區域和平志工團績優團隊全國競賽科技服務類入圍獎</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd13.jpg" width="350" class="Scontimg"></td>
                        <td width="708" valign="top">&nbsp;</td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">十四、本系參加九十八年度 資訊安全電腦多媒體動畫 榮獲第一名佳績</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd14.jpg" width="700" class="Scontimg"></td>
                        <td width="708" valign="top">&nbsp;</td>
                    </tr>
                </table>
            </p>
            <p>
                <table width="1080" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" valign="top">
                            <span class="Sconttxt" style="color:#2e6aa2;">十五、本系參加 台北捷運公司捷運心文化運動 榮獲台北捷運公司30秒創意動畫大賽【優選】</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="372" valign="top"><img src="/Images/Map/school/imgd15.jpg" width="350" class="Scontimg"></td>
                        <td width="708" valign="top">&nbsp;</td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
</div>
