<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=3"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/school/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle4dL">
            <li class="StitleLtxt1">資訊科技與管理系</li>
            <li class="StitleLtxt2">Department of Information Technology and Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        @*<div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div*@
        <div class="SmenuBtn1">專業教室照片</div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">行動資訊系統技術實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgd20.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">資通安全實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgd21.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">資通安全實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgd22.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">電子商務與軟體工程實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgd23.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">電子商務與軟體工程實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgd24.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">數位內容技術與應用實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgd26.jpg" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">數位內容技術與應用實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="/Images/Map/school/imgd27.jpg" width="1280" height="600" border="0"></ul>
        </div>
    </div>
</div>
