<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=3"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/school/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle4dL">
            <li class="StitleLtxt1">資訊科技與管理系</li>
            <li class="StitleLtxt2">Department of Information Technology and Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn1">歷屆主任 ｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        @*<div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div*@
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartInformationPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="ScontL1">
            <ul class="Scontimg"><img src="/Images/Map/school/pic/pic1.jpg" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第一任 2006/08/01-2011/07/31
                <br>
                姓名：許瑋麟
                <br>
                簡介：慈濟技術學院資訊工程系副教授\系主任、台灣數位內容暨行動資訊安全應用整合研究中心主任、中華民國資訊安全學會會員、東華大學資訊管理學系兼任副教授、慈濟技術學院資訊工程系副教授\系主任\電算中心主任、慈濟技術學院講師\電算中心主任、慈濟基金會資訊室、台灣光寶電子公司電腦部。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="/Images/Map/school/pic/pic46.jpg" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第二任 2011/08/01-2013/01/31
                <br>
                姓名：賴志明
                <br>
                簡介：國立台灣科技大學資訊管理博士，現職慈濟技術學院資訊科技與管理學系助理教授一職。
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="/Images/Map/school/pic/pic53.jpg" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第三任 2013/02/01-迄今
                <br>
                姓名：林正榮
                <br>
                簡介：畢業於淡江大學資訊工程博士，現任慈濟技術學院資訊科技與管理系主任一職。
                <br>
            </ul>
        </div>
    </div>
</div>
