@{
    ViewBag.Title = "校史館 - 資訊查詢 | 校景相簿";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/slick_v.js")"></script>    
    <script src="~/Scripts/imgDragforbidden.js"></script>
    <script src="~/Scripts/hammer.js-master/hammer.js"></script>
    <script>
        $('#slick-area').slick({
            centerMode: false,
            dots: false,
            vertical: true,
            slidesToShow: 1,
            infinite: true,
            arrows: true,
            draggable: false
        });

        $('.picmenu2').click(function () {
            $('.slick-prev').click();
        });

        $('.picmenu3').click(function () {
            $('.slick-next').click();
        });


        /*防止拖動出現禁止符號*/
        window.onload = function (e) {
            var evt = e || window.event, imgs, divs, i;
            if (evt.preventDefault) {
                imgs = document.getElementsByTagName('img');
                divs = document.getElementsByTagName('div');
                for (i = 0; i < imgs.length; i++) {
                    imgs[i].onmousedown = disableDragging;
                }
                for (i = 0; i < divs.length; i++) {
                    divs[i].onmousedown = disableDragging;
                }
            }
            else {
                document.ondragstart = function () {
                    return false;
                };
            }
        };
        function disableDragging(e) {
            e.preventDefault();
            return false;
        }

        $('.wbox1').fadeIn();

    </script>
}

@section styles{
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Scripts/inform/css/reset.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/tzuchi.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/maptip.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/style.css" rel="stylesheet" type="text/css" />
    <style>
        .pic2menu9_none a {
            cursor: pointer;
            width: 102px;
            height: 121px;
            display: block;
            float: left;
            background-image: url();
            background-position: 0px 134px;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 28px;
        }

        .pic2menu10_none a {
            cursor: pointer;
            width: 102px;
            height: 121px;
            display: block;
            float: left;
            background-image: url();
            background-position: 102px 134px;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
        }
    </style>
}

<div class="wbox1" style="width:1920px; display:none;">
    <!--左邊標題-->
    <div class="leftbox"><img src="~/Scripts/inform/images/inform/title_s2.png" width="134" height="750"></div>
    <!--中間表格-->
    <div class="centerbox">
        <div class="map">
            <div id="tipBox1"><a href="@Url.Content("~/SchoolMap/SchoolMapById/1")"><img src="~/Scripts/inform/images/picture/maptip1.png" width="112" height="56"></a></div>
            <div id="tipBox2"><a href="@Url.Content("~/SchoolMap/SchoolMapById/2")"><img src="~/Scripts/inform/images/picture/maptip2.png" width="112" height="56"></a></div>
            <div id="tipBox3"><a href="@Url.Content("~/SchoolMap/SchoolMapById/3")"><img src="~/Scripts/inform/images/picture/maptip3.png" width="112" height="56"></a></div>
            <div id="tipBox4"><a href="@Url.Content("~/SchoolMap/SchoolMapById/4")"><img src="~/Scripts/inform/images/picture/maptip4.png" width="112" height="56"></a></div>
            <div id="tipBox5"><a href="@Url.Content("~/SchoolMap/SchoolMapById/5")"><img src="~/Scripts/inform/images/picture/maptip5.png" width="112" height="56"></a></div>
            <div id="tipBox6"><a href="@Url.Content("~/SchoolMap/SchoolMapById/6")"><img src="~/Scripts/inform/images/picture/maptip6.png" width="112" height="56"></a></div>
            <div id="tipBox7"><a href="@Url.Content("~/SchoolMap/SchoolMapById/7")"><img src="~/Scripts/inform/images/picture/maptip7.png" width="112" height="56"></a></div>
            <div id="tipBox8"><a href="@Url.Content("~/SchoolMap/SchoolMapById/8")"><img src="~/Scripts/inform/images/picture/maptip8.png" width="112" height="56"></a></div>
            <div id="tipBox9"><a href="@Url.Content("~/SchoolMap/SchoolMapById/9")"><img src="~/Scripts/inform/images/picture/maptip9.png" width="112" height="56"></a></div>
            <div id="tipBox10"><a href="@Url.Content("~/SchoolMap/SchoolMapById/10")"><img src="~/Scripts/inform/images/picture/maptip10.png" width="112" height="56"></a></div>
            <div id="tipBox11"><a href="@Url.Content("~/SchoolMap/SchoolMapById/11")"><img src="~/Scripts/inform/images/picture/maptip11.png" width="112" height="56"></a></div>
            <div id="tipBox12"><a href="@Url.Content("~/SchoolMap/SchoolMapById/12")"><img src="~/Scripts/inform/images/picture/maptip12.png" width="112" height="56"></a></div>
            <div id="tipBox13"><a href="@Url.Content("~/SchoolMap/SchoolMapById/13")"><img src="~/Scripts/inform/images/picture/maptip13.png" width="112" height="56"></a></div>
            <div id="tipBox14"><a href="@Url.Content("~/SchoolMap/SchoolMapById/14")"><img src="~/Scripts/inform/images/picture/maptip14.png" width="112" height="56"></a></div>
            <div id="tipBox15"><a href="@Url.Content("~/SchoolMap/SchoolMapById/15")"><img src="~/Scripts/inform/images/picture/maptip15.png" width="112" height="56"></a></div>
            <div id="tipBox16"><a href="@Url.Content("~/SchoolMap/SchoolMapById/16")"><img src="~/Scripts/inform/images/picture/maptip16.png" width="112" height="56"></a></div>
        </div>
    </div>
    <!--右邊選單-->
    <div style="float:left;display:block;width:50px;padding:0px 0px 0px 0px;margin:0px 0px 0px -50px;">
        <ul class="menu1"><img src="~/Scripts/inform/images/picture/menu_1.png" width="263" height="70"></ul>
        <ul class="picmenu2"><a href="javascript:void(0)"></a></ul><!---->
        <ul class="picmenu4">
            <div id="slick-area">
                <div class='slick-el'>
                    <li class='picmenu5'><a href='/SchoolMap/SchoolMapById/11'></a></li>
                    <li class='picmenu6'><a href='/SchoolMap/SchoolMapById/15'></a></li>
                    <li class='picmenu7'><a href='/SchoolMap/SchoolMapById/7'></a></li>
                    <li class='picmenu8'><a href='/SchoolMap/SchoolMapById/10'></a></li>
                    <li class='picmenu9'><a href='/SchoolMap/SchoolMapById/6'></a></li>
                    <li class='picmenu10'><a href='/SchoolMap/SchoolMapById/14'></a></li>
                </div>
                <div class='slick-el'>
                    <li class='pic2menu5'><a href='/SchoolMap/SchoolMapById/9'></a></li>
                    <li class='pic2menu6'><a href='/SchoolMap/SchoolMapById/13'></a></li>
                    <li class='pic2menu7'><a href='/SchoolMap/SchoolMapById/5'></a></li>
                    <li class='pic2menu8'><a href='/SchoolMap/SchoolMapById/8'></a></li>
                    <li class='pic2menu9'><a href='/SchoolMap/SchoolMapById/4'></a></li>
                    <li class='pic2menu10'><a href='/SchoolMap/SchoolMapById/3'></a></li>
                </div>
                <div class='slick-el'>
                    <li class='pic3menu5'><a href='/SchoolMap/SchoolMapById/2'></a></li>
                    <li class='pic3menu6'><a href='/SchoolMap/SchoolMapById/1'></a></li>
                    <li class='pic3menu7'><a href='/SchoolMap/SchoolMapById/16'></a></li>
                    <li class='pic3menu8'><a href='/SchoolMap/SchoolMapById/12'></a></li>
                    <li class='pic2menu9_none'><a href='javascript:void(0)'></a></li>
                    <li class='pic2menu10_none'><a href='javascript:void(0)'></a></li>
                </div>                
            </div>
        </ul>
        <ul>
            <p class="picmenu3"><a href="javascript:void(0)"></a></p><!---->
        </ul>
        <ul class="btnIconr2"><a href="@Url.Content("~/SchoolDiary/Index")"></a></ul>
    </div>
</div>

