<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=2"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle3cL">
            <li class="StitleLtxt5">醫學影像暨放射科學系、放射醫學科學研究所</li>
            <li class="StitleLtxt2">Department of Medical Imaging and Radiological Sciences Institute of Radiological Sciences</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn1">傑出校友事蹟｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                98年傑出系友：王金龍
                <br>
            </ul>
            <ul class="Sconttxt" style="width:375px;"><img src="@Url.Content("~/Images/Map/school/imac2.jpg")" width="363" height="544"></ul>
            <ul class="Sconttxt" style="width:910px;">
                <p>
                    王金龍校友民國65年生，是本校改制前慈濟護理專科學校85學年度二專放射技術科入學學生，也是二專放射技術科第一屆畢業校友。入學前就讀四維高中電子科，85年以高分考入當時新設的二專放射技術科。王金龍校友自幼生長在花蓮縣萬榮鄉西林村的一個泰雅族原住民單親家庭，家庭經濟全靠母親及親友接濟，但王金龍校友事母至孝，懂事勤儉，個性溫和親切、有禮，在學校表現深受師長讚賞，是個品學兼優的好學生。 <br>
                    高中時期金龍校友不幸罹犯骨癌導致右腳截肢，但他卻不畏身體的不便與病痛的折磨，努力以赴順利完成高中及大學學業，並考取醫事放射師執照。畢業後，在師長的推薦下進入花蓮慈濟醫院放射線科任職，在日常生活上並擔負起家庭生計與照顧弟、妹學業的責任。民國89年與同村女友結婚，婚後生活幸福美滿，並育有二兒二女，民
            </ul><ul class="Sconttxt" style="width:1280px;">
                國95年因人力需求及家庭照顧，轉調至慈濟關山醫院放射科任職至今。
                王金龍校友在校期間表現十分積極樂觀，雖然要定期回醫院追蹤治療，但對人生的意義以及生命的態度確是充滿無限希望與珍惜，他有付嘹亮的歌喉並彈的一手好吉他，課餘之暇及假日常與放射科學會及社團的同學、老師一起到醫院病房、老人之家、育幼院或原住民部落及小學等，去慰問病患及孤苦的老人家與小孩，為他們帶來歡樂。任職慈院期間更常常至癌症病房、心蓮病房去鼓勵病患及癌症病童，除了唱歌、說故事之外並現身說法以自己的遭遇與奮鬥歷程，鼓勵癌童要加油努力，多年來努力不懈，帶給很多家庭及病患歡樂及希望，此外，也常應邀回校心得分享與座談，給慈濟學弟、妹豎立一個很好的學習典範。
                <br>
                此外，為幫助失恃原住民孩子及家庭，發揚原住民的文化，且建造適合居住的環境，過著共生互助，自給自足生活方式，96年5月王金龍校友成立「七彩共生互助家園」並擔任團長之職。目前，已培育了七彩家園七個無血緣關係的原住民家庭，16位孩子在原住民歌舞、創作流行歌舞的才華，並透過七彩共生互助家園的文化團活動表演、舉辦活動，以傳承及發揚原住民的文化，並能有效創作流行歌舞的分享、交流，此外，也讓文化團的16位孩子在這舞台上，學習找到自我、表達說話、建立自信心，推動鼓勵孩子們找到自我的夢想。
                <br>
                「七彩共生互助家園」網站網址為
                <a href="http://sevenrainbow.myweb.hinet.net/">http://sevenrainbow.myweb.hinet.net/</a>。 </p>
                <p>
                    王金龍系友極為傑出，曾獲得下列獎項： <br>
                    (一)民國85年榮獲全國十大炬光青年 <br>
                    (二)民國87年榮獲本校推薦救國團選拔，當選優秀社會青年 <br>
                    (三)民國87年代表本校接受榮獲李登輝前總統召見及表揚，表彰原住民殘障青年努力奮鬥 <br>
                    (四)民國87年應華視「點燈」節目邀請，鼓勵全國殘障青少年努力向學、積極向上 <br>
                    (五)民國91年當選花蓮慈濟醫院優良員工 <br>
                    (六)民國93年應大愛台邀請，參與「別來無恙」連續劇節目製播，擔任劇中主人翁角色，演出自 <br>
                    己真實的人生故事，感動無數的觀眾與殘障朋友，並引起社會大眾的迴響與共鳴。 <br>
                    (七)民國96年5月成立「七彩共生互助家園」並擔任團長之職，幫助失恃原住民孩子及家庭，發揚原住民的傳統文化。
                </p>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <p>99年傑出校友：魏嘉賢 </p>
                <img src="@Url.Content("~/Images/Map/school/imgc3.jpg")" width="1200" height="500">
                <p>
                    魏嘉賢系友為本系86年慈濟護專二專畢業系友，88年畢業後繼續考取本系 二技學制，於90年畢業。魏嘉賢系友於二技畢業後考取醫事放射師高考，之後曾擔任國軍花蓮總醫院台東分院、行政院退除役官兵輔導委員會蘇澳榮民醫院之醫事放射師，其後又於花蓮縣衛生局、花蓮縣富里衛生所擔任醫事放射師。擔任醫事放射師六年後轉戰政治生涯。 <br>
                    魏嘉賢系友為現任花蓮縣議員、花蓮縣體育會籃球委員會主委、花蓮縣籃球協會理事長、花蓮高工校友會理事、花蓮青商會理事。他於27歲時當選縣議員，擔任縣議員期間，非常關注衛生醫療、社會福利等議題，在政壇初試啼聲，隨即在出席率、問政表現等項目中，獲縣議會紀律小組評比第一。 <br>
                    任職縣議員期間，舉凡醫療、教育、體育、警政、環保、農業、建設、公益、衛生、觀光、消防、社福等都不遺餘力的為花蓮縣民服務，實為畢業校友楷模。他對於系上發展也很關心支持，曾參與多次師生座談會，分享學程經歷給學弟妹們。實為畢業系友之楷模。 <br>
                </p>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <p>101年傑出校友：陳世杰</p>
                <p>
                    陳世杰系友於民國91畢業於本系，畢業後即考取醫事放射師證照，其後於馬偕醫院台東醫院擔任醫事放射師。 <br>
                    陳系友於醫院服務期間，專業技術傑出、熱心服務病患，普獲同仁與病患之佳評。由於工作認真獲得同僚之信任與支持，獲選並擔任台東縣醫事放射師公會第四屆理事長。由於表現傑出，其後又擔任台東縣衛生局與東區醫療網「101年度辦理轄區檢驗暨放射業務督導考核」考核委員，並負責台東馬偕醫院放射線血管攝影相關業務及人員訓練。其他優良事蹟尚包括曾擔任台東馬偕醫院PPE個人防護裝備種子教師及承辦東區醫療網醫事人員繼續教育課程等。 <br>
                    陳系友在專業上表現傑出時為本系系有之楷模
                </p>
            </ul>
        </div>
    </div>
    </div>
</div>
