<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=2"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle3cL">
            <li class="StitleLtxt5">醫學影像暨放射科學系、放射醫學科學研究所</li>
            <li class="StitleLtxt2">Department of Medical Imaging and Radiological Sciences Institute of Radiological Sciences</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn1">社會與企業肯定｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">社會與企業界的肯定</span>
                <br>
                本校醫學影像暨放射科學系/放射醫學科學研究所針對校友就業職場之31家教學醫院(含醫學中心)放射診斷、放射治療、核子醫學等科，建置雇主對學校畢業生滿意度及畢業生職場表現之問卷調查。
                <br>
                設計問卷調查的評估項目包含：學習動力、專業知識、實作技術、團隊合作能力、解決問題能力、溝通協調能力、分析思考能力、專業外語能力、敬業態度、工作穩定度、情緒管理(抗壓性)、工作倫理、品德操守、整體職場表現等共14項，問卷調查採用郵寄問卷方式調查，5點量表問卷，統計調查結果如表一，31家醫療院所就業滿意度平均值為4.02（滿分5分）。調查結果評價進步最多依序為工作穩定度、分析思考能力、解決問題能力、專業外語能力、實作技術等，持續做為本校醫學影像暨放射科學系/放射醫學科學研究所課程強化及改善之依據。
                醫學影像暨放射科學系/放射醫學科學研究所依據雇主滿意度，更清楚掌握就業市場的最新脈動，同時檢視所系科設定的培育目標與現有的師資結構是否符合目前就業市場的需求，藉由了解雇主對學校畢業生的滿意度，可以有效瞭解畢業學生在專業能力、一般通識能力與社會能力之指標，以精進學校的教學方式，改善教學的品質，減低學產落差，強化學生未來的就業競爭力。
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><img src="@Url.Content("~/Images/Map/school/imgc1.jpg")" width="1244" height="769"></td>
                    </tr>
                </table>
            </ul>
        </div>
    </div>
</div>
