<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=2"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle3cL">
            <li class="StitleLtxt5">醫學影像暨放射科學系、放射醫學科學研究所</li>
            <li class="StitleLtxt2">Department of Medical Imaging and Radiological Sciences Institute of Radiological Sciences</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn1">歷史脈絡｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <div class="ScontL">
                <ul class="Scontimg"><img src="/Images/Map/school/imgsc1.jpg" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="/Images/Map/school/imgsc2.jpg" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="/Images/Map/school/imgsc3.jpg" width="300" height="200" border="0"></ul>
            </div>
            <div class="ScontR">
                <ul class="Sconttxt">
                    1996年5月17日奉教育部台（八五）技（二）字第85039495號函核准本校85學年度增設二年制日間部放射技術科一班，參加四技二專工業護理醫藥海事類科日間部聯招電子類考試。
                    <br>
                    1999年度改制為慈濟技術學院，設置大學部二年制日間部放射技術系1班，並停招專科部二年制日間部放射技術科。
                    <br>
                    2000年度增設四年制日間部放射技術系1班。
                    <br>
                    2001年度二年制日間部放射技術系停招。
                    <br>
                    2005年度四年制日間部放射技術系增加招生一班。
                    <br>
                    2008年度四年制日間部放射技術系減少招生一班。
                    <br>
                    2008年度增設放射醫學科學研究所，招收碩士班新生6名
                    （含一般生5名，在職生1名）。
                    <br>
                    2011年6月13日奉教育部台技（二）字第1000098173A號回函同意本校於101學年度「放射技術系」改名為「醫學影像暨放射科學系」，另放射醫學科學研究所碩士班再增招2名，共8名。
                    <br>
                    2012年度放射醫學科學研究所，招生碩士班8名（甄試入學4名，筆試入學4名）。
                </ul>
            </div>
        </div>
    </div>
</div>
