<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=2"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle3cL">
            <li class="StitleLtxt5">醫學影像暨放射科學系、放射醫學科學研究所</li>
            <li class="StitleLtxt2">Department of Medical Imaging and Radiological Sciences Institute of Radiological Sciences</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn1">榮譽榜｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="margin:0px 0px 0px 10px;width:1280px; text-align:;">
                <span style="color:#2e6aa2;">歷年來榮譽榜、獎狀、獎牌</span>
            </ul>
            <ul class="Sconttxt" style="margin:0px 0px 0px 10px;width:1280px; text-align:left;">
                本系自93年起參加放射師考試(國家考試)，陸續有很多學生順利取得放射師國家證照。
                到100年度統計資料顯示，共有186位獲得證照，8年的平均通過率 57.3%，高於全國考照率，在技職院校排名第一。尤有甚者，95年鄭力方同學以及97年陳隆勝同學甚至考得當年放射師國考榜首。另外，本系畢業同學除了進入職場外，亦有同學繼續深造，93年起陸續有許多位學生考上國立或私立研究所碩士班以及博士班，同學的治學態度都獲得錄取學校的好評。

                <br>
                本系同學積極參與學校內各項體育活動，在各項球類運動與跑步競賽中屢創佳績。同時也代表學校參加體育競賽獲獎，如于華同學勇奪102年全國大專運動會一般男子組游泳捷式金牌以及游泳蝶式第五名。在每年的大專院校放射杯各項球類運動中也屢創佳績。

                <br>
                本系老師帶領同學參與各項學術研討會或技能競賽也好評不斷，舉例而言，100年第六屆醫學影像暨放射科學國際研討會(長庚大學):陳隆勝獲中文口頭報告第三名， 101年第七屆醫學影像暨放射科學國際研討會(高雄醫學大學):賴柏倫獲 中文口頭報告 第三名，陳律宇獲得壁報佳作。101年度醫事放射實習學生超音波實作技能競賽 榮獲學校團體獎銅質獎。第八屆國際醫學影像暨放射科學研討會蕭楺剛 榮獲第二名、徐維駿 榮獲第三名。老師與學生的研究能力也獲得全國放射領域的一致肯定。
                <table width="800" border="1" align="center" cellpadding="10" cellspacing="0">
                    <tr>
                        <td width="534" align="center" valign="middle" bgcolor="#D7F2FF">活動名稱</td>
                        <td width="99" align="center" valign="middle" bgcolor="#D7F2FF">姓名</td>
                        <td width="99" align="center" valign="middle" bgcolor="#D7F2FF">名次</td>
                    </tr>
                    <tr>
                        <td width="534" align="center" valign="middle">2012年	第一屆全國醫學影像暨放射科學技藝競賽</td>
                        <td width="99" align="center" valign="middle">團體組</td>
                        <td width="99" align="center" valign="middle">第三名</td>
                    </tr>
                    <tr>
                        <td width="534" align="center" valign="middle" bgcolor="#E6FFFE">2013年	2013國際醫學影像技能競賽</td>
                        <td width="99" align="center" valign="middle" bgcolor="#E6FFFE">團體組</td>
                        <td width="99" align="center" valign="middle" bgcolor="#E6FFFE">優勝</td>
                    </tr>
                </table>
            </ul>
            <ul class="Sconttxt" style="margin:0px 0px 0px 10px;width:1280px; text-align:center;">
                <br>
            </ul>
        </div>
    </div>
</div>
