
<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=2"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle3cL">
            <li class="StitleLtxt5">醫學影像暨放射科學系、放射醫學科學研究所</li>
            <li class="StitleLtxt2">Department of Medical Imaging and Radiological Sciences Institute of Radiological Sciences</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn1">專業教室照片</div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">放射暨影像技術實驗室一(一)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc4.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">放射暨影像技術實驗室一(二)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc5.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">放射暨影像技術實驗室二(一)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc6.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">放射暨影像技術實驗室二(二)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc7.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">輻射安全實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc8.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">超音波實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc9.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">超音波實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc10.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">超音波實驗室(三)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc11.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">放射治療實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc12.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">放射治療實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc13.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">乳房攝影實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc14.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">乳房攝影實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc15.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">核子醫學實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc16.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">核子醫學實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc17.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">粒子遷移模擬實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc18.jpg")" width="1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">醫學物理實驗室(一)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc19.jpg")" width=" 1280" height="650" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="color:#2e6aa2;">醫學物理實驗室(二)</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imgc20.jpg")" width="1280" height="650" border="0"></ul>
        </div>
    </div>
</div>