<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=2"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle3cL">
            <li class="StitleLtxt5">醫學影像暨放射科學系、放射醫學科學研究所</li>
            <li class="StitleLtxt2">Department of Medical Imaging and Radiological Sciences Institute of Radiological Sciences</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn1">歷屆主任 ｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMedicalPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic28.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第一任 1996/08/01-2002/07/31
                <br>
                姓名：蔡長書
                <br>
                簡介：畢業於國立臺灣師範大學化學系理學士/國立清華大學原子科學所碩博士，曾任慈濟技術學院教務長(91/08/01-100/07/31)
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic73.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第二任 2002/08/01-2008/07/31
                <br>
                姓名：陳拓榮
                <br>
                簡介：畢業於清華大學原子科學系博士，曾任中山醫學大學醫學影像暨放射科學系副教授(2008.8~迄今)、慈濟技術學院放射技術系副教授(2001.1~2008.7)、慈濟技術學院放射技術系助理教授(1997.8~2000.12)，現任中山醫學大學醫學影像暨放射科學系教授。
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic28.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第三任 2008/08/01-2009/07/31
                <br>
                姓名：蔡長書
                <br>
                簡介：畢業於國立臺灣師範大學化學系理學士/國立清華大學原子科學所碩博士，曾任慈濟技術學院教務長(91/08/01-100/07/31)
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic38.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第四任 2009/08/01-2011/01/31
                <br>
                姓名：葉善宏
                <br>
                簡介：畢業於清華大學原子科學研究所博士，曾任慈濟技術學院醫學影像暨放射科學系(所)主任98/8/1-100/1/31，現任慈濟技術學院醫學影像暨放射科學系(所)副教授一職。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic37.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第五任 2011/02/01-2012/07/31
                <br>
                姓名：林威廷
                <br>
                簡介：畢業於清華大學核子工程與工程物理博士，現職醫學影像暨放射科學系(所)助理教授一職。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic28.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第六任 2012/08/01-2014/07/31
                <br>
                姓名：蔡長書
                <br>
                簡介：畢業於國立臺灣師範大學化學系理學士/國立清華大學原子科學所碩博士，曾任慈濟技術學院教務長(91/08/01-100/07/31)
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic76.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第七任 2014/08/01-至今
                <br>
                姓名：楊晴晴
                <br>
                簡介：畢業於陽明大學生物醫學影像暨放射科學系博士，專長為多模式醫學影像整合與應用、核子醫學與分子影像量化分析、蒙地卡羅方法與數位假體。
                <br>
                <br>
            </ul>
        </div>
    </div>
</div>
