@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>慈濟技術學院校史館</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>大事記要</h2>
        <p>
            大事記要介紹。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "EventCalendar")">進入連結 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>資訊查詢</h2>
        <p>
            資訊查詢介紹。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "SchoolDiary")">進入連結 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>證嚴上人與慈濟世界</h2>
        <p>
            證嚴上人與慈濟世界介紹。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "TeachPhilosophy")">進入連結 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>創校緣起</h2>
        <p>
            創校緣起介紹。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Founding")">進入連結 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>榮譽榜</h2>
        <p>
            榮譽榜介紹。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "HonourList")">進入連結 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>慈濟人文與博雅教育</h2>
        <p>
            慈濟人文與博雅教育介紹。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Humanistic")">進入連結 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>天涯比鄰</h2>
        <p>
            天涯比鄰介紹。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Map")">進入連結 &raquo;</a></p>
    </div>
</div>