@{
    ViewBag.Title = "校史館 - 資訊查詢 | 校園日誌";
}

@section scripts {
    <script src="~/Scripts/inform/js/modernizr.custom.79639.js" type="text/javascript"></script>
}

@section styles{
    <link href="~/Scripts/inform/css/reset.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/tzuchi.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/inform.css" rel="stylesheet" type="text/css">
}



@*<div class="wbox1">
    <!--左邊標題-->
    <div class="leftbox"><img src="@Url.Content("~/Scripts/inform/")images/inform/title_s3.png" width="134" height="750"></div>
    <!--中間表格-->
    <div class="centerbox">
        <!--年度-->
        <div class="divbook">
            <ul class="title_10">
                <li class="title_08">98</li>
                <li class="title_09">學年度</li>
            </ul>
            <ul class="divline">
                <li>
                    <img src="@Url.Content("~/Scripts/inform/images//book/bookline.png")" width="200" height="1">
                </li>
            </ul>
            <ul class="divbookbig"><span class="glow"><img src="@Url.Content("~/Scripts/inform/images/book/98book.jpg")" width="413" height="584"></span></ul>
        </div>

        <div class="divbook1">
            <ul class="divbooksmall">
                <li class="title_11"><span class="glow"><img src="@Url.Content("~/Scripts/inform/images/book/93s.jpg")" width="148" height="209"></span></li>
                <li class="title_12">93學年度</li>
            </ul>
            <ul class="divbooksmall">
                <li class="title_11"><span class="glow"><img src="@Url.Content("~/Scripts/inform/images/book/94s.jpg")" width="148" height="209"></span></li>
                <li class="title_12">94學年度</li>
            </ul>
            <ul class="divbooksmall">
                <li class="title_11"><span class="glow"><img src="@Url.Content("~/Scripts/inform/images/book/95s.jpg")" width="148" height="209"></span></li>
                <li class="title_12">95學年度</li>
            </ul>
            <ul class="divbooksmall">
                <li class="title_11"><span class="glow"><img src="@Url.Content("~/Scripts/inform/images/book/96s.jpg")" width="148" height="209"></span></li>
                <li class="title_12">96學年度</li>
            </ul>
            <ul class="divbooksmall">
                <li class="title_11"><span class="glow"><img src="@Url.Content("~/Scripts/inform/images/book/97s.jpg")" width="148" height="209"></span></li>
                <li class="title_12">97學年度</li>
            </ul>
            <ul class="divbooksmall">
                <li class="title_11"><span class="glow"><img src="@Url.Content("~/Scripts/inform/images/book/98s.jpg")" width="148" height="209"></span></li>
                <li class="title_12">98學年度</li>
            </ul>
        </div>
    </div>
    <!--右邊選單-->
    <div class="rightbox">
        <div class="div2">
            <ul class="btnsearch"><a href="inform_1_search.html">搜尋</a></ul>
            <ul class="btnIcon"><a href="inform.html"></a></ul>
        </div>
    </div>
</div>*@

