<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=4"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle5eL">
            <li class="StitleLtxt1">行銷與流通管理系</li>
            <li class="StitleLtxt2">Department of Marketing and Distribution Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn1">傑出校友事蹟｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible;">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">
                    傑出校友-曹君霈<br>
                    <img src="/Images/Map/school/imge20.jpg" width="1280" height="650" class="Scontimg">
                </span>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;君霈為會計資訊系95年之畢業生，在校成績表現良好，現職為冠宇運通(香港)有限公司之會計主管，任職於目前公司約5年時間，進入公司將近2年時便得到主管信賴，派任至香港分公司，擔任會計及行政管理職務，至今已有3年多。 <br>
                    香港分公司為全新環境，君霈利用在台灣兩年的財務工作經驗、善用專業技能以及本身適應環境的能力，讓自己在不同的商業環境及活躍的亞洲市場，展現工作績效。 <br>
                    在香港分公司工作期間，君霈協助分公司行政及財務方面之規劃、執行及運作，使分公司財務制度短期內步上軌道。
                </p>
                香港分公司已成立3年多，業務不斷的增長，財務的規劃及流程也越見繁複，君霈運用所學將分公司的財務單位提升為更完善及強化的組織，深獲上級讚賞。
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">
                    傑出校友-楊婷茵<br>
                    <img src="/Images/Map/school/imge19.jpg" width="1280" height="650" class="Scontimg">
                </span>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;婷茵於94年畢業後於慈濟醫院新店分院工作，一年後授證為慈濟委員。99年7月在證嚴上人面前親口答應吃素，到今日都堅持著對上人的莊嚴承諾。在土城何嘉仁安親班服務的四年期間，秉持著慈濟人文精神及上人慈悲喜捨之理念，以父母的心來愛孩子，致力於靜思語教學的推廣，榮獲補教業第九屆優良教師。為了積極推廣寶特瓶回收再生與呵護地球的理念，同時也為了護持慈濟的慈善及人文志業，目前職志合一於大愛感恩科技股份有限公司。 <br>
                    此外，還擔任板橋區慈青學長會的課務組長。參與100年台北場水懺演繹及板橋區重陽節-父母恩重難報經演繹。 <br>
                    平日參與活動包括：板橋區青少年服務隊(慈少)、板橋慈青學長會、土城三峽板橋區榮民之家關懷、新店屈尺老人院關懷、每年板橋區國中親子營的策劃團隊、板橋後埔區慈濟感恩戶新芽計劃負責人、每年初在台北世貿舉辦的國際書展-靜思書軒推廣志工、及許多社區關懷活動。 <br>
                    婷茵認為，雖不能決定生命的長度，但可自己決定生命的寬度。職志合一後，天天都在做慈濟事，生活非常充實且滿足，現在全家人都是慈濟志工，家庭和樂，真的非常幸福，感恩慈濟。
                </p>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">
                    傑出校友-丁文選<br>
                    <img src="/Images/Map/school/imge21.jpg" width="1280" height="650" class="Scontimg">
                </span>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文選在校四年成績優異，幾乎每學期拿到績優獎學金，上課認真，盡力做好學生之本分。課外活動方面，於大二時擔任系學會會長，期間舉辦許多大型活動，包括期初迎新、期末送舊、帶動中小學活動等，過程中磨練出作人作事的能力。 <br>
                    97年畢業後，積極參與社會公益活動，例如：曾待東區老人之家替代役，服務院區之長者，並帶長者至醫院看診。此外，曾在水源部落當課後輔導老師，並認真教導部落小朋友課業，為弱勢族群盡一分心力。
                </p>
                100年時，同時考取中華郵政特考內勤人員與原住民族特考一般行政職系，在競爭激烈的公職考試實屬難得。文選目前於金峰鄉公所擔任出納，主要從事財稅業務，並將自已所學，服務當地民眾。
            </ul>
        </div>
    </div>
</div>
