<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=4"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle5eL">
            <li class="StitleLtxt1">行銷與流通管理系</li>
            <li class="StitleLtxt2">Department of Marketing and Distribution Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn1">社會與企業肯定｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">北區國稅局花蓮分局方建興局長</span>
                <br>
                <img src="/Images/Map/school/imge4.jpg" width="1280" height="650" class="Scontimg">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每年五月份，慈濟技術學院行銷與流通管理系(原會計資訊系)都會組隊協助民眾報稅，慈濟學生的服務效率一級棒，總是面帶微笑為民眾服務，令報稅民眾讚譽有加，也因為學生服務品質佳，大幅提昇申報效率，101年花蓮分局更首次榮獲北區國稅局結算申報競賽第一名殊榮！
                <br>
                除了納稅服務隊，暑假期間至花蓮分局實習的同學，各方面的表現也是可圈可點，慈濟技術學院的學生，學習態度好、服務品質佳、認真負責，更具主動解決問題的能力。我們慈濟的同學，充分發揮我們慈濟的人文，他們表現得非常彬彬有禮，深深受到我們花蓮的鄉親的喜愛。
                <br>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge6.jpg" width="600" height="399" class="Scontimg"></td>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge8.jpg" width="600" height="399" class="Scontimg"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">小組討論</td>
                        <td align="center" valign="middle">JCCP證照推廣優等獎</td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge7.jpg" width="600" height="400" class="Scontimg"></td>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge5.jpg" width="600" height="400" class="Scontimg"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">海外實習面試</td>
                        <td align="center" valign="middle">與新加坡南洋理工大學交流</td>
                    </tr>
                </table>
                <br>
                <br>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;"> 中華民國發展遲緩兒童早期療育協會陳順隆副祕書長</span>
                <br>
                <img src="/Images/Map/school/imge9.jpg" width="1280" height="650" class="Scontimg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中華民國發展遲緩兒童早期療育協會(以下簡稱本會)為設立於花蓮市之全國性社團法人，由三百多位全國各地的醫療、教育及社會工作專業人士組成，以推展全國早期療育之觀念宣導及第一線早期療育服務為宗旨。承蒙貴校作育人才之福，張淑慧小姐(2009年畢)自98年6月起在本會秘書處任職，態度積極認真，對本會在推展全國早期療育宣導、論文大會、棕櫚獎表揚、研習課程，以及各種會務之推動方面，有著極大的助益。人才的重要性，主要在於工作態度、責任感、團隊合作特質，以及獨立思考能力之運用，淑慧有著積極的工作態度及步調，對於所派之任務也能運用本身之思考分析，將任務做規劃及時程安排，對眾多業務的推動能夠做好掌握，實屬難得，亦十分感恩貴校培養人才，造福社會的貢獻
                。
                <br>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge11.jpg" width="600" height="402" class="Scontimg"></td>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge12.jpg" width="600" height="402" class="Scontimg"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">97畢業班</td>
                        <td align="center" valign="middle">現金流遊戲</td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge13.jpg" width="600" height="402" class="Scontimg"></td>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge10.jpg" width="600" height="400" class="Scontimg"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">課後小組討論</td>
                        <td align="center" valign="middle">拉拉隊比賽</td>
                    </tr>
                </table>
                <br>
            </ul>
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;"> 誠信會計事務所陳羿如記帳士</span>
                <br>
                <img src="/Images/Map/school/imge14.jpg" width="1280" height="650" class="Scontimg">
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印象中慈濟技術學院之學生有禮貌、乖巧。於是首選錄用為慈濟的學生。目前本公司仍有一位員工為貴系之學生。在工作態度上刻苦耐勞，願意協助其他同事，共同完成工作之進度。在專業上，雖然學校所學運用不多，但不恥下問及打破砂鍋問到6底的精神，使其累積豐厚的專業技能，足以應付工作之所需。
                <br>
                在職場上，專業技能固然重要，惟工作態度才是企業主所盼，慈濟的學生在校受到上人及老師的細心教誨，只要稍加提點，其實都能舉一反三，讓企業在社會強烈的競爭下，可以免除人際關係之憂慮。操守方面更無後顧之憂。
                <br>
                綜上所述，企業與員工之間其有密不可分之關係，再一定的行為基礎上，我們都期盼雙贏的局面，以穩定彼此的經濟效益。更期望學校、學生、企業主三方都能和諧互動。
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge18.jpg" width="600" height="400" class="Scontimg"></td>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge17.jpg" width="600" height="400" class="Scontimg"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">會計師事務所參訪見習</td>
                        <td align="center" valign="middle">專題製做課程</td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge16.jpg" width="600" height="400" class="Scontimg"></td>
                        <td align="center" valign="middle"><img src="/Images/Map/school/imge15.jpg" width="600" height="400" class="Scontimg"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">課堂小組報告</td>
                        <td align="center" valign="middle">多元化專題演講</td>
                    </tr>
                </table>
            </ul>
        </div>
    </div>
</div>