<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=4"></a></div>
@*<div id="EngDiv1" class="WINEng"><a href="school2e.html"><img src="/Images/Map/school/btn5.png" width="178" height="78" border="0"></a></div>*@
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle5eL">
            <li class="StitleLtxt1">行銷與流通管理系</li>
            <li class="StitleLtxt2">Department of Marketing and Distribution Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn1">歷史脈絡｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <div class="ScontL">
                <ul class="Scontimg"><img src="/Images/Map/school/imgse1.jpg" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="/Images/Map/school/imgse2.jpg" width="300" height="200" border="0"></ul>
            </div>
            <div class="ScontR">
                <ul class="Sconttxt">
                    <p>
                        2000年，新增「會計系」，每學年招收學生1班，學生人數約200人。<br>
                        2004年，更改系名為「會計資訊系」，考量到科技快速進步，電腦的普及與資訊的整合，已造成企業製造及經營環境的重大改變，故積極培育符合資訊科技時代之會計專業所需人才。<br>
                        2013年，更名為「行銷與流通管理系」，結合慈濟靜思人文（靜思書軒）的門市與流通業務所提供的實習場域，並考量東部地區無毒農業、觀光休閒產業之行銷與流通人才需求。<br>
                    </p>
                </ul>
            </div>

        </div>
    </div>
</div>
