<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=4"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/school/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle5eL">
            <li class="StitleLtxt1">行銷與流通管理系</li>
            <li class="StitleLtxt2">Department of Marketing and Distribution Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn1">榮譽榜｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=1208
                   style='width:906.15pt;margin-left:.65pt;border-collapse:collapse;border:none;
 mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt:
 0cm 1.4pt 0cm 1.4pt;mso-border-insideh:.5pt solid windowtext;mso-border-insidev:
 .5pt solid windowtext'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span style='font-size:24.0pt;font-family:"微軟正黑體","sans-serif";'>
                                年 度<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly'>
                            <span style='font-size:24.0pt;font-family:"微軟正黑體","sans-serif";
  '>活 動 名 稱<span lang=EN-US><o:p></o:p></span></span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:24.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'>姓 名<span lang=EN-US><o:p></o:p></span></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:24.0pt;font-family:"微軟正黑體","sans-serif";'>
                                名 次<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:1;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2012</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>Office</span><span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                達人競技賽台灣全國賽<span lang=EN-US>Word Expert</span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>呂冠妤、張雅紋、賴羿云</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                一等獎<span lang=EN-US style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:1;height:24.0pt'>
                    <td style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        &nbsp;
                    </td>
                    <td colspan="3" style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <img src="/Images/Map/school/imge2.jpg" width="800" height="533" class="Scontimg"><br>
                        <img src="/Images/Map/school/imge3.jpg" width="800" height="533" class="Scontimg">
                    </td>
                </tr>
                <tr style='mso-yfti-irow:2;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2012<o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                北區商品行銷企畫簡報大賽<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>簡玉惠、林羽珊</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                第一名<span lang=EN-US style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:3;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2012</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                財團法人中華民國電腦技能基金會獎學金<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>牛浩明</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  color:black;mso-themecolor:text1;'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:4;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2012<o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                北區技專校院教學資源中心優良教學助理<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>潘嘉琳</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  color:black;mso-themecolor:text1;'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:5;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2011</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                「電腦稽核軟體應用師」證照<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                傑出學校優等獎<b style='mso-bidi-font-weight:normal'>
                                    <span lang=EN-US style='color:black;
  mso-themecolor:text1;'><o:p></o:p></span>
                                </b>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:5;height:24.0pt'>
                    <td style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        &nbsp;
                    </td>
                    <td colspan="3" style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <img src="/Images/Map/school/imge1.jpg" width="800" height="533" class="Scontimg">
                    </td>
                </tr>
                <tr style='mso-yfti-irow:6;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2011</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                「電腦稽核軟體應用師」傑出人員獎<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>鄭伯均</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                傑出人員獎<span lang=EN-US style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:7;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2010</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                獲教育部評鑑<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'>會計資訊系<span lang=EN-US><o:p></o:p></span></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                商業類一等<span lang=EN-US style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:8;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>2009</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:32.0pt;mso-line-height-rule:exactly'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                全國大專院校租稅教育及宣導活動<span lang=EN-US>-</span>決戰稅教擂台<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>王銘、黃昭齊、蔣志偉</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:32.0pt;
  mso-line-height-rule:exactly;mso-pagination:widow-orphan;'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                冠軍<span lang=EN-US
                                        style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:9;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:normal;
  mso-pagination:widow-orphan'>
                            <span lang=EN-US style='font-size:20.0pt;
  font-family:"微軟正黑體","sans-serif"'>2009</span><span lang=EN-US
                                                     style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal>
                            <span style='font-size:20.0pt;line-height:150%;font-family:
  "微軟正黑體","sans-serif"'>
                                「<span lang=EN-US>ACL</span>稽核分析師」傑出人員獎<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>吳善全主任</span><span lang=EN-US
                                                             style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                傑出人員獎<span lang=EN-US
                                           style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:10;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:normal;
  mso-pagination:widow-orphan'>
                            <span lang=EN-US style='font-size:20.0pt;
  font-family:"微軟正黑體","sans-serif"'>2009</span><span lang=EN-US
                                                     style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal>
                            <span style='font-size:20.0pt;line-height:150%;font-family:
  "微軟正黑體","sans-serif"'>「電腦稽核軟體應用師」傑出人員獎<span lang=EN-US><o:p></o:p></span></span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>宋佳玲</span><span lang=EN-US
                                                           style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                傑出人員獎<span lang=EN-US
                                           style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:11;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:normal;
  mso-pagination:widow-orphan'>
                            <span lang=EN-US style='font-size:20.0pt;
  font-family:"微軟正黑體","sans-serif"'>2009<o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal>
                            <span style='font-size:20.0pt;line-height:150%;font-family:
  "微軟正黑體","sans-serif"'>考取國家考試記帳士<span lang=EN-US><o:p></o:p></span></span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>游明倫同學</span><span lang=EN-US
                                                             style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif";color:black;mso-themecolor:text1;
  '>
                                創系以來<span lang=EN-US>
                                    <br>
                                </span>第一位記帳士<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:12;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:normal;
  mso-pagination:widow-orphan'>
                            <span lang=EN-US style='font-size:20.0pt;
  font-family:"微軟正黑體","sans-serif"'>2007</span><span lang=EN-US
                                                     style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal>
                            <span style='font-size:20.0pt;line-height:150%;font-family:
  "微軟正黑體","sans-serif"'>第一屆慈濟新芽獎學金<span lang=EN-US><o:p></o:p></span></span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>董慧慧同學</span><span lang=EN-US
                                                             style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                孝悌楷模獎<span lang=EN-US
                                           style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:13;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:normal;
  mso-pagination:widow-orphan'>
                            <span lang=EN-US style='font-size:20.0pt;
  font-family:"微軟正黑體","sans-serif"'>2007</span><span lang=EN-US
                                                     style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:normal;mso-pagination:widow-orphan'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                全國孝行獎<b style='mso-bidi-font-weight:normal'>
                                    <span lang=EN-US style='color:black;
  mso-themecolor:text1;'><o:p></o:p></span>
                                </b>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>董慧慧同學</span><span lang=EN-US
                                                             style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                孝行獎<span lang=EN-US
                                         style='color:black;mso-themecolor:text1;'><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:14;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;line-height:150%;font-family:"微軟正黑體","sans-serif"'>2004<o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal style='line-height:normal;mso-pagination:widow-orphan'>
                            <span style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif"'>
                                專題特色網頁製作競賽<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span lang=EN-US
                                  style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif"'>學術組第二名</span><span lang=EN-US
                                                              style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:
  新細明體;color:black;mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:
  HI'><o:p></o:p></span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:15;mso-yfti-lastrow:yes;height:24.0pt'>
                    <td width=121 style='width:91.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;line-height:normal;
  mso-pagination:widow-orphan'>
                            <span lang=EN-US style='font-size:20.0pt;
  font-family:"微軟正黑體","sans-serif";'>2002</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt'><o:p></o:p></span>
                        </p>
                    </td>
                    <td width=510 style='width:382.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal>
                            <span style='font-size:20.0pt;line-height:150%;font-family:
  "微軟正黑體","sans-serif";'>教育部評鑑<span lang=EN-US><o:p></o:p></span></span>
                        </p>
                    </td>
                    <td width=359 style='width:269.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif";mso-bidi-font-family:新細明體;color:black;
  mso-themecolor:text1;mso-font-kerning:0pt;mso-bidi-language:HI'>
                                會計資訊系<span lang=EN-US><o:p></o:p></span>
                            </span>
                        </p>
                    </td>
                    <td width=217 style='width:163.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 1.4pt 0cm 1.4pt;height:24.0pt'>
                        <p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
  18.0pt;mso-pagination:widow-orphan;'>
                            <span style='font-size:
  20.0pt;font-family:"微軟正黑體","sans-serif";'>商業類一等</span><span lang=EN-US style='font-size:20.0pt;font-family:"微軟正黑體","sans-serif";
  mso-bidi-font-family:新細明體;color:black;mso-themecolor:text1;mso-font-kerning:
  0pt;mso-bidi-language:HI'><o:p></o:p></span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
