<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=4"></a></div>
@*<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="/Images/Map/school/btn5.png" width="178" height="78" border="0"></a></div>*@
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="/Images/Map/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle5eL">
            <li class="StitleLtxt1">行銷與流通管理系</li>
            <li class="StitleLtxt2">Department of Marketing and Distribution Management</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn1">歷屆主任 ｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartMarketingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="ScontL1">
            <ul class="Scontimg"><img src="/Images/Map/school/pic/pic29.jpg" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第一任 2000/08/01-2008/07/31
                <br>
                姓名：侯啟娉
                <br>
                簡介：畢業於復旦大學管理學博士、 政治大學會計學碩士，現任中國科技大學副教授兼系主任。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="/Images/Map/school/pic/pic50.jpg" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第二任 2008/08/01-2014/07/31
                <br>
                姓名：吳善全
                <br>
                簡介：畢業於國立台灣大學資訊工程博士、國立台灣大學資訊管理碩士，現任慈濟技術學院行銷與流通管理系助理教授一職。
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="/Images/Map/school/pic/pic77.jpg" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第三任 2014/08/01-迄今
                <br>
                姓名：陳皇曄
                <br>
                簡介：畢業於國立東華大學企業管理博士、美國喬治華盛頓大學資訊管理碩士，現任慈濟技術學院行銷與流通管理系主任一職。
                <br>
            </ul>
        </div>
    </div>
</div>
