@model TzuChiClassLibrary.BO.PlanInsideModel
@{
    string uploadDir = System.Web.Configuration.WebConfigurationManager.AppSettings["upload.folder.name"];
}
<tr>
    <td style="width: 230px" class="auto-style9">
        <strong>
            產學類型
        </strong>
    </td>
    <td style="width: 1262px">
        產學合作
        <input type="hidden" name="CategoryPrepID" value="@ViewBag.CategoryPrepID">
    </td>
</tr>
<tr>
    <td style="width: 230px" class="auto-style9">
        <label style="color:red">*</label>
        <strong>
            學年度
        </strong>
    </td>CategoryYearID
    <td style="width: 1262px">
        @Html.DropDownListFor(m => m.CategoryYearID, (List<SelectListItem>)ViewBag.SelectYearList, "請選擇", new { @class = "form-control", @style = "display: inline;" })
        @Html.ValidationMessageFor(m => m.CategoryYearID)
    </td>
</tr>
<tr>
    <td style="width: 230px" class="auto-style9">
        <label style="color:red">*</label>
        <strong>
            地圖座標
        </strong>
    </td>
    <td style="width: 1262px">
        使用關聯座標:
        是<input type="radio" name="xy" value="true" checked />
        @Html.DropDownListFor(m => m.ImageXY, (List<SelectListItem>)ViewBag.SelectCoordinateList, "請選擇", new { @class = "form-control", @style = "display: inline;" })
        @*@Html.ValidationMessageFor(m => m.ImageXY)*@
        否<input type="radio" name="xy" value="fasle" />
        @Html.TextBoxFor(m => m.Coordinate.PointX, new { @class = "Coordinate" })
        -
        @Html.TextBoxFor(m => m.Coordinate.PointY, new { @class = "Coordinate" })
        @Html.ValidationMessageFor(m => m.Coordinate.PointX)
        @Html.ValidationMessageFor(m => m.Coordinate.PointY)
    </td>
</tr>
<tr>
    <td style="width: 230px" class="auto-style9">
        <label style="color:red">*</label>
        <strong>
            分區
        </strong>
    </td>
    <td style="width: 1262px">
        @Html.DropDownListFor(m => m.CategoryPartitionID, (List<SelectListItem>)ViewBag.SelectPartitionList, "請選擇", new { @class = "form-control", @style = "display: inline;" })
        @Html.ValidationMessageFor(m => m.CategoryPartitionID)
    </td>
</tr>
<tr>
    <td style="width: 230px" class="auto-style9">
        <label style="color:red">*</label>
        <strong>
            所在地(縣市)
        </strong>
    </td>
    <td style="width: 1262px">
        @Html.DropDownListFor(m => m.CategorySiteID, (List<SelectListItem>)ViewBag.SelectSiteList, "請選擇", new { @class = "form-control", @style = "display: inline;" })
        @Html.ValidationMessageFor(m => m.CategorySiteID)
    </td>
</tr>
<tr>
    <td style="width: 230px" class="auto-style9">
        <strong>
            附圖
        </strong>
    </td>
    <td style="width: 1262px">

        <div id="AttachedQueue"></div>
        <input id="AttachedData" type="file" name="AttachedData" />

        <div id="AttachPicUrlDiv">
            @if ("edit".Equals(ViewBag.Commamd) && Model != null && Model.AttachPicUrl != null)
            {
                <div id="AttachPicUrl_@(Model.AttachPicUrl.ItemOID)">
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].ItemOID" value="@(Model.AttachPicUrl.ItemOID)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].FunctionOID" value="@(Model.AttachPicUrl.FunctionOID)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].FunctionType" value="@(Model.AttachPicUrl.FunctionType)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].ImageHeight" value="@(Model.AttachPicUrl.ImageHeight)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].ImageWidth" value="@(Model.AttachPicUrl.ImageWidth)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].FileName" value="@(Model.AttachPicUrl.FileName)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].Bit" value="@(Model.AttachPicUrl.Bit)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].Path" value="@(Model.AttachPicUrl.Path)" />
                    <input type="hidden" name="AttachPicUrl[@(Model.AttachPicUrl.ItemOID)].CoverImage" value="@(Model.AttachPicUrl.CoverImage ? "true":"false")" class="coverInput" />
                    <table class="table">
                        <tr>
                            <td width="30%">
                                <a data-toggle="modal" data-target="#showPhotoModal" onclick="setCoveragePicPath('@Url.Content(string.Format("~/{0}/{1}", uploadDir, Model.AttachPicUrl.Path))')">
                                    <img src="@Url.Content(string.Format("~/{0}/{1}", uploadDir, Model.AttachPicUrl.Path))" width="50" />
                                </a>
                            </td>
                            <td width="20%"><a href="@Url.Content(string.Format("~/{0}/{1}", uploadDir, Model.AttachPicUrl.Path))" target="_blank">@(Model.AttachPicUrl.FileName)</a></td>
                            <td>
                                <input type="button" value="delete" class="del btn btn-danger" onclick="removePicUrl('@(Model.AttachPicUrl.ItemOID)')" />
                                <a class="btn btn-primary coverBtn" id="Set_@(Model.AttachPicUrl.ItemOID)" style="display: @(Model.AttachPicUrl.CoverImage ? "none" : "inline");" onclick="setPicCoverageUrl('@(Model.AttachPicUrl.ItemOID)')">SetCoverage</a>
                                <label style="display: @(Model.AttachPicUrl.CoverImage ? "inline" : "none");" class="coverLabel" id="Cover_@(Model.AttachPicUrl.ItemOID)">封面圖</label>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
        <span class="auto-style8">
            封面圖片：預設為上傳的第一張照片每張圖片大小不超過100MB，圖片格式為gif、png、jpg。
            超過800x600px時，系統會自動作縮圖處理。
        </span>
    </td>
</tr>