<style>
    .txt2 {
	font-family:"微軟正黑體";
	font-size:25px;
	color:#333333;
	line-height:38px;
	font-weight:bold;
}	
.txt3 {
	font-family:"微軟正黑體";
	font-size:22px;
	color:#333333;
	line-height:32px;
	font-weight:bold;
}	
 </style>

<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=0"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="StitleL">
            <li class="StitleLtxt1">護理系</li>
            <li class="StitleLtxt2">Department of Nursing</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn1">傑出校友事蹟｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" height="108" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：李詩敏</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：護理二技延修班 </h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：92/06</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            慈濟醫院花蓮總院-新陳代謝及內分泌科 糖尿病中心
                        </h2>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：江國城</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：二技 </h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：96年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            慈濟醫院花蓮總院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        <span class="txt3">
                            傑出優良表現<strong>： </strong><br>
                            <br>
                            我們的國城是慈濟護專第四屆公費生畢業生，於2000年到慈濟醫院精神科服務至今。父親是慈誠隊員，姊姊了弟弟也畢業於慈濟護專，目前都在臨床服務。一直以來，秉持著學校慈悲喜捨的校訓，積極實踐成為母校辦學所期盼的具有關懷社會、尊重生命及大愛精神的傑出人才，不斷積極進取與服務社會，在專業工作亦不斷成長，目前擔任精神科病房護理長。        <br>
                            <br>
                            2008年餐與四川賑災第二、三梯次醫療團成員。國城說：『從事精神科臨床將近八年，照顧病患的心靈是我的本領，在工作中體驗過種種的喜怒哀樂，從上班開始任務性的「聞聲救苦」轉變到哪裡有哀傷、哪裏有爭吵，便往哪裏去!』在四川賑災中，他用專業陪伴受到創傷驚嚇的小朋友，小朋友圍繞在他們最喜歡的誠哥身邊，一起翻開從台灣帶去的童書《奇異的木屐》，進入另一個給好的世界。四川賑災之後，「男」丁格爾的優良正面形象受到各界的肯定，更是母校的驕傲，2010年受邀擔任藝術學院『護理典範』、『大鵬展翅~男丁格爾』講座講師，想工作成長與臨床經驗，同於引導許多校友進入醫療職場，2011年4/13、4/27、6/21，因應衛生局校園與社區心理衛生宣傳活動，擔任四場校園與社區心理衛生講座講師，宣導壓力調適與自殺防治，深獲好評，同時受邀撰寫人醫心傳健康專欄『打開心門不憂鬱』，宣導自殺防治『青春不憂鬱』，因應校園霸凌事件，探討青少年校園心理衛生，均有很好的迴響。綜上優良社會貢獻事蹟，本機構大力推薦江國城護理長為貴校傑出校友，亦為本院護理之光。<br>
                            <strong>優良校友分享-江國城： </strong>
                            江國城護理長，他是一位「男丁格爾」，在從事精神科護理的專業中，隨著參與慈濟基金會的國際賑災，將專業用在對四川地震災民的輔導，在「做中學，做中覺  」與「見苦知福」的實際活動中，將心中滿滿的感動與大家分享。他也笑談著說，今天是系友會，而在他的家中餐廳裡，天天開著系友會，因為他的家人，多是從慈濟技術學院畢業的呢！
                        </span><br>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：王琬詳</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：護理助產科(五專)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：84年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮慈濟醫學中心/督導
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        獲推薦原因：承擔師資培育小組組長，建立師資培育及評值機制並主導發展教學評值工具。<br>
                        <br>
                        優良校友分享-王琬詳<strong>：</strong><br>
                        <br>
                        王琬詳督導分享，她談及就讀慈濟護專的在校生活中，漸漸體會到專業服務人群的大愛精神，尤其，有機會親自參與九二一大地震的賑災服務後，更深刻體會無私大愛的付出。當面對困難挫折及在工作上有負面的人事，總是能轉念用正面的思考，來處理眼前的境界，在人與人之間以鼓勵的話語，口說好話來與不同的人事溝通；在專業研究方面，則為阿茲海默症的病人及相關醫療，在研究服務上有亮麗的成績。
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：王瑞琦</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理系(進修二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：93年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            玉里榮民醫院附設康復之家/護理長
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">獲推薦原因：配合衛生局擔任反毒、戒菸宣導講師、擔任護理部品質管制委員會組長。</td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：王懿萱</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：護理系(進修二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：96年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮慈濟醫學中心/醫務部新陳代謝科及內分泌科糖尿病衛教師
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="74" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">獲推薦原因：當選100年護理師護士公會優良護理人員及資深護理人員、參加「糖尿病健康促進機構執行成效報告」特優獎、入選「糖尿病病友。<br></td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：戴玉琴</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理系(進修二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：93年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮門諾醫院/長期照護部主任
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">獲推薦原因：提升部門內同仁臨床工作能力。</td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：康芳瑜</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護二技</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：88年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            慈濟醫院台北分院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">獲推薦原因：兼任耕莘管理學院臨床實習指導教師、99年榮獲創新競賽獎、100年榮獲專案成果獎、參加慈濟國際研討會海報發表。<br></td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：張聖莉</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理系(進修二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：94年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            鳳林榮民醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">獲推薦原因：病房管理成效良好，設置收帳袋，預防漏帳。</td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：倪春玲</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：護理科(五專)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：91年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            玉里慈濟醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">獲推薦原因：兼任院內護禮品質組組長，推動品質管理。<br></td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：謝慧玲</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理科(五專)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：91年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            台北市立萬芳醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">獲推薦原因：擔任教研組組員期間，協助同仁安排課程、聘請講師、推廣醫院學術及學術活動宣導、平時參與學術研討會、參與論文海報比賽。</td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：王國美</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：護理系(進護二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：86年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            國軍桃園總醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">獲推薦原因：服務績效良好，受家屬及單位同仁好評。<br></td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：鄭麗娟</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：87年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮慈濟醫院外科加護病房
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        <strong>傑出優良表現:</strong><br>
                        <br>
                        80年自慈濟護專畢業後，曾任整形外科護理師、專科護理師，及內、外科、社區健康中心護理長，護理部教學督導，臨床表現曾得過優良護士及優良員工，擔任院內ISO稽核員。84年考上慈濟大學護理研究所，自87年碩士畢業後曾在慈濟大學護理系及慈濟技術學院陸續兼任教師，曾教內、外科護理學、身體評估及帶實習，於元培科技大學及聖母醫護管理專科學校兼任護理科實習老師，本人期望能將學生在學校所學實際運用於臨床，使其對護理感到興趣，對病患照護視病猶親，對醫療團隊懂得如何溝通合作，並將慈濟的人文素養表現於臨床工作中。 <br>
                        <br>
                        在學術上除了個人論文發表於88年慈濟醫學雜誌及參加ICN海報發表外，陸續輔導個案報告發表於慈濟護理雜誌6篇，個案報告參加花蓮市護理師護士公會評比，於93年及94年分別入選獲頒獎狀，94年以二項團隊創新作品參加花蓮市護理師護士公會創新獎評比，獲創新特優及佳作獎。並擔任花蓮市護理師護士公會第九屆理事，台灣傷口造口及失禁護理學會第一屆理事及台灣燒傷暨傷口照護學會第十一戶理委員會委員，台灣護理學會個案報告審查委員，96、97年擔任內、外科專科護理師甄審口試委員，99年擔任專科護理師臨床OSCE暨能力訓練坊指導員。<br>
                        <br>
                        在社會服務部分，曾多次參與慈濟人醫會義診及禪光育幼院關懷活動。<br>
                        <br>
                        獲推薦原因: 1. 擔任院內ISO稽核員 　2. 曾任外科專科護理師、及內、外科、社區健康中心護理長以及護理部教學督。
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：鄭雅君</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：95年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮慈濟醫院小兒科
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:
                        <ol>
                            <li>擔任兒科病房護理長，在現行醫療環境窘困下，積極留任護理同仁，締造連續三年新進人員零離職率。 </li>
                            <li>善用教學巧思指導同仁臨床照護，在護理學生實習過程，善用創新教學指導學生，深獲醫療團隊及學校師生肯定。 </li>
                            <li>帶領護理團隊臨床服務用心，致力推動說故事工作坊、遊戲治療…以舒緩住院病童壓力，營造兒童友善就醫環境，頻獲家屬書面讚賞。 </li>
                            <li>以身作則帶領護理團隊及護理學生關環社區安德幼稚園孩童，及居家訪視重難症病童，讓護理從醫院走入社區，充分展現慈濟護理人文關懷之美。 </li>
                            <li>2006年致今擔任兒童癌症基金會顧問護理師。 </li>
                        </ol>
                        2009年致今擔任中華民國骨髓移植暨血液學會護理委員。<br>
                        <br>
                        獲推薦原因: 擅用教學巧思帶領同仁及護生臨床照護，深獲醫療團隊及師生肯定。<br>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：戴佳惠</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理系(二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：92年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮慈濟醫院第一內科加護病房
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        <strong>傑出優良表現:</strong></p>
                        <ol>
                            <li>可完成重症個案照護及個別性護理，與個案及家屬互動佳。 </li>
                            <li>擔任臨床護理教師認真負責，協助輔導單位同仁書寫個案報告及實證讀書報告。 </li>
                            <li>96年通過台灣護理學會個案報告審查：照顧一位乳房惡性蕈狀傷口病患之護理經驗。 </li>
                            <li>參加100年台灣護理學會實證競賽，主題「加護病房插管病患使用含Chlorhexidine漱口水之口腔護理是否可降低呼吸器相關肺炎發生?」，獲得佳作。101年輔導同仁參加東區實證護理競賽暨論壇，主題「肺炎插管患者使用胸腔物理治療是否能降低加護病房住院天數?」，獲得潛力獎，進一步輔導參加台灣護理學會實證競賽。 </li>
                            <li>每年協助院內外在職教育課程，101年至羅東博愛醫院及鳳林榮民醫院協助授課。100年12月獲邀回母校進行座談會分享。 </li>
                            <li>擔任台灣護理學會個案報告審查委員。 </li>
                            <li>擔任護理部教學委員及研發組委員，可主動完成交辦事項。 </li>
                            <li>100年至今擔任慈濟技術學院兼任講師，協助臨床選習的實習業務。 </li>
                            <li>專業學術期刊文章表:</li>
                        </ol>
                        Tai,C.H.,Lin,N.T.,Peng,T.C.,R.P.,(2011).CleaningSmall-Volume    Nebulizers:The Efficacy of Different Reagents and Application Methods. The    Journal of Nursing Research,19(1),61-67.<br>
                        10、研討會文章發表:詳見附件 <br>
                        11、院內外獲獎紀錄 <br>
                        97年花蓮縣護理師護士公會-護理創新優良作品:改良式胃造廔管束腹帶 <br>
                        98年花蓮縣護理師護士公會-護理創新優良作品:臉部舒適坊壓墊 <br>
                        98年花蓮縣護理師護士公會-個案報告優良論文:照顧一位乳房惡性蕈狀傷口病患之護理經驗 <br>
                        99年獲選花蓮縣護理師護士公會優良護理人員 <br>
                        100年台灣護理學會-證實護理競賽佳作 <br>
                        100年慈濟醫院護理部-熱心教學獎、閱讀精進獎 <br>
                        102年花蓮縣護理師護士公會-護理研究論文<br>
                        <br>
                        <strong>獲推薦原因: </strong>完成重症個案照護及個別護理，與個案及家屬互動佳、曾獲得兩屆花蓮縣護理師公會的護理創新優良作品、擔任護理部教學委員及研發組委員，主動完成交辦事項。        <br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：沈芳吉</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：93年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮慈濟醫院護理部
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:<br>
                        1、88度榮獲花蓮縣護理師護士公會資深護理人員(附件一)<br>
                        2、慈濟技術學院護理系在職進修班帶領班級榮獲91學年第一學期聖誕創作競賽學院部及專科第二名暨最佳氣氛營造獎。(附件二)<br>
                        3、94年度榮獲花蓮縣護理師護士公會服務滿20年以上資深護理人員。(附件三)<br>
                        4、年對榮獲花蓮市公所優良護理人獲頒獎狀。(附件四)<br>
                        5、94擔任台灣護理學會會組協助「ICN第23屆國際護士大會暨國家代表會議」活動或台灣護理學會裡選理事長贈感謝狀。(附件五)<br>
                        6、95年協助花蓮縣衛生局責任醫院定期督考或感謝狀。(附件六)<br>
                        7、96年度榮獲花蓮縣護理師護士公會優良護理人員並刊登於更生報。(附件七)<br>
                        8、國際慈濟人醫會會員。 <br>
                        9、協助大愛電視台大愛劇場~幸福時光拍攝並擔任醫療指導及演員一角。(附件八)<br>
                        10、成立那魯灣社團服務原住民社區。(附件九)<br>
                        11、擔任慈濟大學實驗國民小學服務志工獲頒感謝狀。(附件十)<br>
                        12、每兩個月定期進行社區(幼稚園)關懷。(附件十一)<br>
                        13、擔任2012/5/20閩南地區廈門護理主管二期培訓班活動授課講師。(附件十二)<br>
                        14、擔任100.02~100.07花蓮慈濟技術學院課程委員會委員 <br>
                        15、榮獲行政院衛生署國民健康局高齡友善健康照護徵文暨創意標語徵選活動餐獎。(附件十三)<br>
                        16、榮獲台灣醫界菸害防制聯盟戒菸徵文比賽佳作獎。(附記十四)<br>
                        17、榮獲慈濟大學第三屆生命倫理與邏輯思辯徵文比賽特權。(附件十五)<br>
                        18、參加100年『以人為本的護理教育及照護國際研討會』海報發表:一位行腹腔鏡活動捐腎手術病人之手術全期護理。(附件十六)<br>
                        19、97.06~100.06當選花蓮縣護理師護士公會理事。(附件十七)<br>
                        20、100.8.1~101.7.31擔任花蓮慈濟技術學院課程委員會委員。(附件十八)<br>
                        21、101.8.1~102.7.31擔任花蓮慈濟技術學院課程委員會委員。(附件十九)<br>
                        22、101.1.8~104.1.8擔任第30屆手術全期護理委員會委員。(附件二十)<br>
                        <br>
                        獲推薦原因: 88年度榮獲花蓮縣護理師護士公會資深護理人員、榮獲花蓮市公所優良護理人獲頒獎狀96年榮獲花蓮縣護理師護士公會優良護理人員並刊登於更生報。<br></p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：葉惠玲</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：97年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮慈濟醫院泌尿科
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        傑出優良表現:
                        <br>
                        <br>
                        臨床表現<br>
                        1、	負責認真完成專師份內工作，臨床照顧病人細且認真，常受到病患、家屬及長官口頭的稱讚及肯定，考核優等。
                        <br>
                        2、	擔任泌尿科病房教學組長，積極教學並協助臨床護理同仁進階。
                        <br>
                        3、	擔任專科護理師外科小組長，管理外科專科護理師業務，並協助舉辦101年及102年專科護理師訓練班。
                        <br>
                        4、	擔任護理部學術發展組委員會委員、人事管理委員會委員及專科護理師委員會，求開會並協助業務推動審查權進階資料及擔任N2、N3核心課程講師。
                        <br>
                        5、	102年花蓮縣護理師護士公會優良護理人員。<br>
                        6、	2009-2013協助輔導花蓮慈濟醫院護理師書寫個案報告並通過護理學會個案報告審查共20篇。
                        <br>
                        7、	2011年開始擔任護理學會個案報告審查委員。
                        <br>
                        8、	2013年兼任慈濟技術學院及慈濟大學臨床實習指導老師。
                        學習著作(附件)
                        <br>
                        <br>
                        獲推薦原因: 臨床照顧病人細心認真，受到病患、家屬及長官的肯定定期開會並協助業務推動，審查全院進階資料、擔任泌尿科病房教學組長，積極教學並協助臨床護理同仁進階
                        擔任專科護理師外科小組長，管理相關業務及協助舉辦專科護理師訓練班。
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：邱郁蓉</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：夜護二</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：86年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            衛生福利部八里療養院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        邱員於民國79年3月到職擔任本院臨床護理師，負責精神病人臨床照護業務。邱員從事護理工作30餘年，工作認真負責，發揮專業精神、熱忱關懷同儕。繩於民國90年當選精神衛生護理學會優良護理人員、96年當選台北縣護理師護士公會優良護理人員。<br>
                        邱員亦常於下班後主動幫助貧困病人及家屬，熱心奉獻不求回報。在職進修慈濟護專，畢業後更積極於休假期間運用運用所學護理專業，參與社區關懷活動不遺餘力:<br>
                        1、	民國90年開始參加慈濟功德會北區人醫會，接受慈濟功德會委員培訓及授證，至今參加社區關懷計24次、股隨捐贈採血12次、醫務站衛教宣導24次、海外義診10次、衛生所健檢36次、外勞健檢12次、街友健檢12次。<br>
                        2、	民國90年開始每月兩次至農禪寺醫務站擔任護理志工。<br>
                        3、	民國91年南亞海嘯後，二度斯里蘭卡義診，每次為期兩週。<br>
                        4、	民國97年至南印度協助義診，為期兩週。<br>
                        5、	民國99年至北印度協助義診，為期兩週。<br>
                        6、	民國98年八八風災至屏東林邊災區協助災民清理家園。<br>
                        7、	每月一次參加新北市雙溪、瑞芳區義診活動，至今累計24次。<br>
                        8、	提供社區輔導志工精神照護相關知識、醫療網路相關諮詢，約10次。<br>
                        邱員在本院服務多年至始終謹守崗位、默默耕耘，盡心盡力扮好自己的角色；特別在經驗的傳承與指導、協助新進人員更是不遺餘力，不僅積極參與本職臨床照護業務，並且更發揮所長主動參與各項社會關懷活動，實為護理屆之楷模。<br>
                        <br>
                        獲推薦原因: 曾獲兩次優良護理人員、為30年資深員工熱忱關環同仁。<br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：何琇嬑</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理科(五專)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：95年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            埔里榮民總分院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        傑出優良表現: <br>
                        <br>
                        1、琇嬑自民國100年至台中榮總埔里分院任職至今，期間工作表現認真向上，積極參與本院能力進階制度，現為N2級；101年順利通過本院公職護士考試；且自費自假參加台灣護理學會舉辦急診加護護理師認證考試，並順利取得證書；本身學習態度佳，並將學習風氣帶至院內同仁，目前擔任加護病房評鑑組組長。<br>
                        2、	琇嬑工作認真，做事沉穩，文書處理井然有序，對於並會細心照顧，視病猶親，對於家屬誠心傾聽心中的不安傑解說心中的疑惑；在與主管與同事相處間，總以對上以敬，對下以善，對人以和，對事以真的態度與人相處，因此獲得極佳的人緣。<br>
                        3、	不只學習度高，工作認真，對醫院的活動參與度也高，在100-101年參加退輔會舉辦榮民醫療體系醫品圈「提升加護病房醫療人員洗手時機遵從率」競賽或台風獎、EMB競賽活動成果發表會，並於當年與單位品管圈同仁共同努力，更和本院感染管制部齊心協力共同編排洗手舞、邊設洗手標語、洗手徽章及隨身攜帶型之乾洗手液，現本院全體同仁共同實施及使用中。<br>
                        4、	101參與醫院評鑑業務，用心彙總加護病房評鑑資料及回應評鑑委員得宜，獲評地區醫院評鑑優等圓滿完成任務，榮獲嘉獎一次。<br>
                        <br>
                        獲推薦原因:擔任加護病房評鑑組組長職務、通過公職護士考試及急診加護護理師認證考試並取得證書。
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：鍾美玉</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：護理科(五專)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：91年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            國軍桃園總醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        1、鍾員自93年起，服務於國軍桃園總醫院附設護理之家，將屆滿九年，積極參與各項種教育訓練，已完成長期照護基礎訓練核心課程，並取得ACLS級BLS證書。<br>
                        2、	鐘員臨床服務態度積極良好，主動發現住民血糖過低問題，立即通知醫生診視處理，事後協助聯繫營養師、復健師及藥師，與醫師及家屬共同討論，針對住民問題進行改善，屢獲醫療團隊、住民及家屬高度肯定。<br>
                        3、	該員友愛同事，單位同事臨時生病無法到班時，主動表達關懷並自願協助上班，獲得單位同仁一致好評。<br>
                        4、	該員擔任病房新進同仁之臨床指導老師，輔導單位新進同仁積極用心，教導其各項專業知識技能，以身作則帶領新進同仁，使新進同仁在學習及生活上獲得優質成長與照顧。<br>
                        5、	負責單位護理人員每月護理專業教育訓練課程，課程安排切合臨床實用，包含長照新知、各項專業知識技能及裝備操作，課程內容生動精采，揉合書面授課、實際操作及案例分析等技巧，提升同仁臨床專業知能，表現優異，平居滿意度(滿分5分)高達4.8分。<br>
                        6、	負責單位30為照顧服務員臨床照護技術教學，可依授課對象設計課程內容及授課方式，針對照顧服務員臨床照護技術問題，以淺顯易懂的方式逐一問答，讓照護服務員學習了解，正確且落實執行照護技術，提供住民優質服務。<br>
                        7、	2009年負責單位照護品質指標監測「服務對象非計畫性住院」資料收整及分析，主動發現單位住民呼吸道感染率高，積極與醫療團隊討論，提供相關改善措施，並創新設計「噴霧器晾乾皿」獲得院內創新競賽第二名，獲桃園護理師護士公會創新競賽佳作。<br>
                        8、	2010年因單位住民泌尿道感染率高，進行專案改善，想法獨特創意十足，執行措施有效降低住民泌尿道感染發生率，成效婓然，且於2011年通過台灣護理學會專案審查。<br>
                        9、	2012年參加院內實證護理，針對「透析住民使用備和潤滑劑擦拭是否降低皮膚炎臨床治療成效」知議題，進行完善的文獻並完成評析，見解獨到，且對臨床照護有十足的協助，獲得院內競賽家佳作，並於2012年台灣實證醫學年會海報發表。<br>
                        10、2012年衛生署評鑑時，協助單位餐庭環境布置設計，並完成品質指標監測項目-服務對象非計畫性住院、服務對象約束處理及監測情形等相關卷夾整理，做事主動積極盡心盡力。評鑑當日，面對委員提問，應答得體，深獲評委讚許，使機構獲衛生署評鑑「優等」佳績。<br>
                        11、2013年負責辦理單位母親節節慶活動策畫及攝影工作，以「我最嬌豔」主題設計活動，讓家屬學住自己的母親進行裝扮，活動內容溫馨感人，身受住民及家屬肯定。<br>
                        12、2013年衛生局督考準備期間，協助住民床邊環境規則，並完成住民日常生活照護—提供服務對象下床服務情形、提供服務對象翻身拍背、提供有失禁之虞服務對象定時入廁服務情形等23本捲夾，準備內容充足符合要求，委員給予肯定。<br>
                        <br>
                        獲推薦原因: 負責單位護理專業教育訓練課程表現優異負責教導照服員臨床技術並循循善誘，提供住戶更優良的品質，單位環境或衛生署評鑑&lt;優等&gt;、為新進人員指導師，輔導同人積極用心並以身作則、主動發現住民問題提並協同醫療團隊針對該名問題進行改善友愛同事，並主動幫忙病假同事上班。<br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：詹淑惠</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理系(二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：90年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            慈濟玉里醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        傑出優良表現: <br>
                        <br>
                        1、	要當照亮黑暗角落的蠟燭，當許多人都選擇到大都市發展時，詹淑惠護理師毅然決定留在最需要護理人裡的花蓮服務，淑惠並非不嚮往多采多姿的護理生涯，而是貢獻所學在醫療缺乏的地方。所以，民國90年畢業後，他的第一志願就是到花蓮慈濟醫院服務，而後再於民國96年來到位於縱谷中段的玉里慈濟醫院服務，長達12年的護理服務工作隊淑惠來說，不只是職業，更是責任。由於他積極任事和護理本質上的優良表現，在民國100年獲得了玉里慈濟醫院資深員工獎項鼓勵。<br>
                        2、	在玉里慈濟醫院，護理人員的服務年資最多兩年，而詹淑惠護理師能夠守「志」不動，除了對服務病患的熱忱外，更有著視病猶親的堅持。因為，身為人母的她，更能體會身為病患家屬的焦躁和憂慮，所以在民國102年進行的住院病患護理服務滿意度調查中，病患對詹淑惠護理師個人的平居滿意度高達84％<br>
                        3、	繁忙工作之際仍不忘扶助弱勢，除每月持續捐款慈善機構，實踐自我設定之「取之社會，回饋社會」的人生觀，更是利用假日之餘，參與國內醫診活動，熱心社會公益。<br>
                        4、	國家考試專業證照(1)考試院技術人員高普考試及格，更在護理師繁忙之功綽中不忘進修，溫故知新取得多項(2)專業訓練課程執照考試及格。<br>
                        5、	於從事護理工作期間歷任功能小組成員，提供護理業務品質改進之意見與教育業務之退動，積極參與單位內之會議，更擔任功能小組長，大力推動，積極付出，因認真負責，屢獲長官及同仁之肯定。<br>
                        6、	積極參與在職教育訓練及強化自我訓練能力，並認輔導員，投入心力，負責新進人員整個訓練之教育工作，引導護理新進能穩健的踏入臨床，並從事照護服務工作。<br>
                        <br>
                        獲推薦原因:獲玉里慈院資深員工獎、考試院技術人員高普考試合格專業訓練課程執照考合格、102年住院病患護理服務滿意度調查高達84%。
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：黃貝琴</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：護理系(二技)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：81年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            衛生福利部疾病管制署東區管制中心
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        獲推薦原因:<br>
                        <br>
                        投入疾病管制工作十數年、促成台英之醫療衛生合作雙邊關係辦理創新發展基金會、國際護理協會、國際醫院聯盟、世界醫師會等為與世界衛生組織有正式工作關係之組織業務、奉派至美國丹佛市第一胸腔醫院、舊金山市衛生局、美國區域結核病教育訓練機構、亞特蘭大疾管中心參與結核病防治及管理訓練<br>
                        奉派參加世界衛生組織、國際抗勞聯盟於越南舉辦之結核病防治及流行病學研習<br>
                        爭取到行政院衛生署國際合作組之2年之完成事項: (1)為了將我國積極參與國際衛生事務及交流均有具體成效，處理海外醫療援助，促進國際衛生之合作與交流(2)推動參與世界衛生大會，爰辦理推動參與世界衛生組織計畫<br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：栗林瑋</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：94年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            嘉義基督教醫院護理部
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        傑出優良表現: <br>
                        <br>
                        從民國84年從事護理工作至今，工作中所遇到的事情有甘有有苦，苦的時候曾讓我想離開護理，乾的時候卻又讓我有著溫馨及美好的回憶。<br>
                        84~95年11年時間任職於新生兒科護理師及護理長，期間以專業的早產兒照護技巧，協助早產兒病童及其媽媽度過最危難的時刻，幫助及指導他們如何照顧早產兒並給予心理支持，92年SARS期間護理屆一陣恐慌，當時信守南丁格爾犧牲奉獻精神、盡己之所能服務他人，任勞任怨、百則不撓，於是堅守護理工作崗位為需要服務的病患繼續護理工作，獲得佳績，陳誠仁院長頒發感謝獎牌，94年幸運獲得嘉義市優良護理人員表揚；在學術上更期許自己能夠不斷地增長新知，能以最好的服務提供給病患，所以94年在慈濟技術學院完成學士學位，並於99年完成學術報告，通過台灣護理學會N3個案報告，99年接任照顧服務員組長一職，教導及監督照服員協助家屬照顧積住院病患生活起居，因臨床照服員照顧病患以老人區多，體恤老人因重聽而照誠溝通困難，於是積極尋求可以解決的方法，而創新了-聲音輔助器，解決醫療人員與重聽老人的溝通困難，並於101年獲得嘉義市護理師公會護理用品創新競賽獎-最佳潛力獎。<br>
                        證嚴法師曾說心裡要懷著悲憫的心，以慈悲喜捨、教父濟貧救渡眾生，更倡導尊重生命，要以全人的照顧陪伴病患及其家屬，讓他們走過生命中的黑暗期，迎接另一段新生。一段溫馨感人的話，會讓我想要緊緊跟隨，我相信自己會繼續不斷的努力成長，留在護理界彰顯護理之美。<br>
                        <br>
                        獲推薦原因：減輕產婦的壓力及給予心理支持，共同度過危急的時刻，於94年獲得嘉義市優良護理人員、創新聲音輔助器，解決醫療人員與重聽老人的溝通困難，於101年獲得嘉義市護理師公會護理用品創新競賽獎-最佳潛力獎、因盡己所能服務病人，獲得嘉義基督教醫院頒發感謝獎。<br>
                        。
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：陳香君</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：99年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            嘉義基督教醫院洗腎室
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        該校友任職於嘉義基教醫院洗腎室，具19年透析室臨床經驗，該案為腎臟醫學會護理人員代訓醫院，具腎臟醫學會腹膜透析護理指導人員資格，指導轉任腹膜透析護理人員、代訓人員與交叉訓練人員，人員經評量結果皆為優等。擔任臨床教學指導，指導單位內護理人員。通過護理學會個案報告，為院內學術委員會成員，審核院內讀書報告、案例分析及個案報告等。通過OSCE種子教師培訓及技能測驗，為顆配種子教師成員。<br>
                        得獎紀錄:<br>
                        1、100年嘉義市「優良護理人員」<br>
                        2、101年以「健康美代子」獲嘉義市護理師公會護理創新佳作<br>
                        3、99、100年嘉義基督教醫院「優良臨床教師」<br>
                        4、99、100年代表護理部以「生命轉角遇到愛-優質的透析照護」、「無縫隙的優質透析照護」參加國假品質標章評比，經評審團隊初審、複審及決審三階段，獲「SNQ國家品質標章」認證。<br>
                        5、99年以「健康美代子」參加本院護理部護理創新，經評審審核後評比為佳作<br>
                        <br>
                        獲推薦原因：具19年透析室臨床經驗100年為嘉義優良護理人員、99、100年代表護理部參加國家品質標章評比獲SNQ國家品質標章認證、具腎臟醫學會腹膜透析護理人員指導資格通過護理學會報告為院內學術委員會委員、獲嘉義基督教醫院優良臨床教師兩次。<br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：吳欣玫</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：97年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            嘉義基督教醫院成人綜合科加護病房
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        服務貢獻<br>
                        1、	擔任100年度院內CPCR教學考試人員，推展職工對緊急醫療技能訓練及執行。<br>
                        2、	期間因熱心參與院內教學，榮獲100年度護理部優良教師。<br>
                        3、	提升醫院學術發表<br>
                        積極研究發展及護理著作提升護理水準，協助同仁參與院外專業能力競賽及專業護理雜誌期刊投刊，順利有多篇海報、口頭發表及雜誌刊登，增<br>
                        加醫院機構對外名聲<br>
                        ＊95年度榮獲院內QCC競賽第5名<br>
                        ＊100年度榮獲急重症護理學會專案海報發表<br>
                        ＊101年度榮獲第七屆國際健康資訊管理研討會專案海報發表<br>
                        ＊101年度投稿台灣環台醫療策略聯盟護理組個案報告海報發表<br>
                        ＊102年投稿級榮獲刊登『領導護理』及『嘉基護理』雜誌<br>
                        4、個人特質:<br>
                        ＊謙卑、真誠的心，勉勵及帶領單位護理同仁，極力營造和諧及關懷的環境，榮獲99年嘉義市優良護理人員選拔及院內優良護理人員表揚。<br>
                        5、協助他科人員培訓:<br>
                        ＊98年度協助外科病房護理人員進行重症照護訓練，學習急性緊急照護及培訓重症照護種子，協助病房單位照護運作。<br>
                        ＊100年度協助恢復室人員進行重症照護訓練，學習不同領域之知識與技  巧，促使護理各部門間能有效相互支援。<br>
                        6、護理實習生教育:<br>
                        ＊協助萬外大專院校(台北護理學院、長庚科技大學)護理科系實習生最後一哩路實習教學，讓學生馬上擁有進入職場的能力，畢業即就業。<br>
                        7、	專業能力學習:<br>
                        ＊97年度起，協助院內每年ICU重症基礎教育課程擔任講師級單位重症課程講師<br>
                        ＊101年度起，協助院內護理部新進護理人員到職炫練課程講師。<br>
                        <br>
                        獲推薦原因：擔任CPCR考試人員推展緊急醫療技能訓練及執行、獲院內QCC競賽第5名、獲急重症護理學會專案海報發表、獲國際健康資訊管理研討會海報發表、投稿獲&lt;領導護理&gt;、&lt;佳績護理&gt;雜誌發表。<br>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：游琵良</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：95年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            羅東博愛醫院血液透析室(已離職)
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        經歷:<br>
                        2012年07月01日至今:血液透析室護理長<br>
                        2011年08月01日~2012年06月30日:醫療事務處高專<br>
                        2008年09月01日~2011年07月31日:急性呼係照護中心護理長<br>
                        2006年08月15日~2006年08月30日:兒科病房病房護理長<br>
                        2006年03月01日~2006年8月14日:內科加護病房護理長<br>
                        2004年07月01日~2006年02月28日: 急性呼係照護中心護理長<br>
                        2003年02月01日~2004年06月30日: 內科加護病房副護理長<br>
                        2001年09月01日~2002年06月30日:外科加護病房代理副護理長<br>
                        1997年08月04日~2001年08月31日:外科加護病房護理師<br>
                        優良事蹟:<br>
                        2010年獲內部推薦至「聖母護專」及「耕莘護專」協同教學<br>
                        2008年榮獲院內優良護理人員<br>
                        2007-2008年協助教學醫院學費用補助計劃評鑑前置作業<br>
                        2003年榮獲宜蘭縣護理師護士公會優良優良護理人員<br>
                        2001年參加醫策會第二屆醫品圈發表暨競賽活動榮獲醫品銀獎，擔任團長，表現優異<br>
                        2001年參加護理行政管理業務，表現優異<br>
                        2000年通過羅東博愛醫院護理專業能力N4審查合格<br>
                        1999年通過護理學會N3個案報告審核<br>
                        <br>
                        獲推薦原因：獲院內優良護理人員、獲宜蘭縣護理師護士公會優良護理人員、獲宜蘭縣護理師護士公會護理用品創新第二名、獲台灣健康照護聯合學術研討會海報論文發表獲部內推薦至聖母護校及耕莘護專協同教學協助教學醫院教學費用輔助計畫評鑑前置作業、獲台灣醫學資訊聯合研討會海報論文發表、通過護理專業能力N4審查合格、曾任內科加護病房、急性呼吸照護中心、兒科病房、血液透析室護理長及醫療事務處高專。<br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：盧雅玲</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：99年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            國軍805花蓮總醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        平日積極充實自我本職學能及參加專業研習會，以提升專業知識，並將其運用至臨床工作上。(附件1、2、3)<br>
                        2、	積極協助推展品管業務及管圈活動，確保病患安全，曾於98年及99年獲獎。<br>
                        3、	98-99年擔任教學組組長認真安排單位在職教育，其中針對教學方面外籍看護照護技巧需求，主動蒐集相關資訊，供臨床運用。(附件4、6、7)<br>
                        4、	執行病人照護細心，負責，態度良好，及能主動跨院觀摩呼吸照護病房眼科術後照護，因此曾經獲選100及101年優良護理人員。(附件8、9、10、11)<br>
                        5、	利用公餘時間之員醫院社區醫療任務，擔任年度災害防救暨港口設施保全演習救護護理人員，認真負責，並獲醫院獎勵。(附件12)<br>
                        6、	利用公餘時間考取芳療師證照(附件13、14、15)並持續積極參與芳療講習(附件16-20)，加上了解臨床護理人員長期工作疲累，能善用個人第二專長能力，運用經由紓壓技巧，幫助單位同仁減輕工作壓力，極具互助互愛精神。<br>
                        7、	發揮古箏演奏才能，曾經代表醫院至花蓮縣護理師護士公會護士節表演榮獲醫院獎勵(附件4)，並於98、99年參與專業團體演出(附件21.22)，且積極參與社區活動表演(附件23.24)廣受好評，使病患及社區民眾能透過音樂陶冶心性(附件23.24)。<br>
                        <br>
                        獲推薦原因：積極協助推展品管業務並多次獲獎、利用公餘時間考取芳療師證照並善用第二專長幫助同人減輕壓力、屢次獲得優良護理人員、積極充實自我，提升專業知識並運用在臨床上。<br>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：陳靜宜</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：92年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            台北市萬芳醫院精神科急性病房
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        1、	平日視病猶親，主動協助病人及家屬，於96年、99年、100年、102年獲選為優良護理人員。<br>
                        2、96-102年擔任單位品管組組長，(1)協助每月進行品管項目稽核，且針對病 房異常事件(如:病例書寫完整性、暴力、企圖自殺、約束等)進行改善措施及追蹤(PDCA) (2)負責協助精神科TQIP、TCPI指標收集及監測。<br>
                        3、96年擔任單位品管圈圈長，並代表醫院參加醫品圈及先鋒品管圈-榮獲特優。<br>
                        4、	具備專科知識及技能，於97年~至今擔任單位臨床教師人員及PGY輔導員，協助指導新進人員，及教導實習護生(台北醫學大學、耕莘護專)，並於97年、99年~102年獲選為院內優良臨床教學護理人員。<br>
                        5、	99年獲選為中華民國精神衛生護理學會優良精神衛生護理人員。<br>
                        <br>
                        獲推薦原因：視病猶親，主動協助病人及家屬，且協助指導新進人員及教導實習護生，於96、99、100及102年獲選為院內優良護理人員、負責協助精神科TQIP、TCPI指標收集及監測99年獲選為中華民國精神衛生護理學會優良精神衛生護理人員、96年擔任單位品管圈圈長，代表醫院參加醫品圈及先鋒品管圈-榮獲特優。<br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：蔡岫虹</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：護理科(五專)</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：89年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            台北市萬芳醫院10B病房
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        獲推薦原因：
                        充分發會護理長責任，使單位氣氛合諧凝聚同仁向新力提昇照護品質、&lt;以ISBAR模式縮短交班時間&gt;獲台灣實症醫學學會海報發表獲Sigma Theta Tau 24th International Nursing Research Congress海報發表、獲醫品圈發表競賽&lt;醫品銅獎&gt;<br>
                        獲選台灣腎臟醫學會會員大會暨學術演講會海報發表、獲北市政府&lt;績優護理人員&gt;、屢次獲優良護理人員及優良臨床教師、多次擔任新進人員指導師用心使人得以留任、表現優異獲&lt;考績特優&gt;、主動寢聽同仁心聲給予協助視病猶親，並針對問題充分討論提出有意於個案之跨團隊活動。
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：林芳宇</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：88年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            台北市萬芳醫院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        1、	就讀慈濟護專五專部，專四、專五就讀公費生；畢業後服務於花蓮慈濟綜合醫院心臟內科病房3個月、心臟內科加護病房2年。<br>
                        2、	公費還約的二年期間邊工作邊讀書準備升學考，民國90年6月取得N2護理師進階職級並考取亞東技術學院日間部二年至護理學系持續進修<br>
                        3、	民國92年7月取得亞東技術學院護理學系護理學士學位文憑後，92年7月16日至台北市立萬芳醫院「急診室」持續護理臨床工作。<br>
                        4、	92年7月16日~97年2月1日擔任急診室護理師並取得N3臨床專業能力、97年5月考取國防醫學院護理學研究所內外組，98年2月1日~9月30日擔任副護理長一職。<br>
                        5、	民國100年7月1日在職進修取得「國防醫學院碩士學位證書」，民國98年至民國101年連續四年榮登「優良臨床教學護理人員」、民國100年10月26日榮獲「台北西區扶輪社職業成就獎」、民國101年代表醫院參加醫學模擬競賽活動「Taiwan METI CUP」萬芳急診團隊，獲第二名、2013年6月2日參加2013實證醫學種子師資培訓工作坊(台北場)組別試教第二名、2013年8月3日加第十四屆醫療品質獎實證醫學類文獻查證組取得「佳作獎」<br>
                        6、	民國101年7月30日~8月3日參與國際榮譽護理學會23rd International Research Congress 至 Australia-Brisbane Convention＆Exhibition口頭發表論文。<br>
                        7、	民國101年2月1日取得N4，101年10月1日調任至第一加護病房擔任護理長一職。<br>
                        <br>
                        獲推薦原因：擔任急診室護理師並取得N3臨床專業能力，因而擔任副護理長一職，於101年取得N4並調任至第一加護病房擔任護理長一職、第十四屆醫療品質獎實證醫學類文獻查證組取得「佳作獎」、參與國際榮譽護理學會口頭發表碩士論文、代表醫院參加醫學模擬競賽活動「Taiwan METI CUP」萬芳急診團隊，榮得冠軍殊榮、在職進修取得「國防醫學院碩士學位證書」且連續四年榮獲「優良臨床教學護理人員」。<br>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">姓名：藍周惠</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#CCECFF"><h2 class="txt2">畢業年度：89年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#CCECFF">
                        <h2 class="txt2">
                            工作單位：<br>
                            衛生福利部嘉南療養院
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="1240" align="left" valign="middle" bgcolor="#CCECFF" class="txt3">
                        傑出優良表現:<br>
                        <br>
                        1、嘉南療養院於99-100年參與衛生署一病管制局之醫院有不衛生計畫，承接手部衛生計畫，使計畫得以如期圓滿完成，本院榮獲「手部衛生優質醫院」殊榮。<br>
                        2、	100-101年季流感疫情防疫之因應及處置受衛生署署長肯定，參與「全國流感疫情防治協調會報」並配合相關防疫作為，負責流感防疫業務，盡心盡力、認真負責。<br>
                        3、	101年獲台南衛生局推薦為醫院感染管制查核品質提升委員，擔任衛生署疾病管制署102年醫院感染管制查核委員，協助查核醫院感染管制業務。<br>
                        4、	The 20th International Conference on Health Promoting Hospitals and Services(HPH) for POSTER PRESENRATION.Subject-'The Effectiveness of Hand Hygiene Promotion in Mental Hospital'.<br>
                        <br>
                        獲推薦原因：
                        充分發會護理長責任，使單位氣氛合諧凝聚同仁向新力提昇照護品質、&lt;以ISBAR模式縮短交班時間&gt;獲台灣實症醫學學會海報發表獲Sigma Theta Tau 24th International Nursing Research Congress海報發表、獲醫品圈發表競賽&lt;醫品銅獎&gt;<br>
                        獲選台灣腎臟醫學會會員大會暨學術演講會海報發表、獲北市政府&lt;績優護理人員&gt;、屢次獲優良護理人員及優良臨床教師、多次擔任新進人員指導師用心使人得以留任、表現優異獲&lt;考績特優&gt;、主動寢聽同仁心聲給予協助視病猶親，並針對問題充分討論提出有意於個案之跨團隊活動。 </p>
                    </td>
                </tr>
            </table>
            <br>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td width="142" align="center" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">姓名：劉明莉</h2></td>
                    <td width="255" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">學制：進護系</h2></td>
                    <td width="180" align="left" valign="middle" bgcolor="#FFFFCC"><h2 class="txt2">畢業年度：94年畢</h2></td>
                    <td width="454" align="left" valign="top" bgcolor="#FFFFCC">
                        <h2 class="txt2">
                            工作單位：<br>
                            花蓮門諾醫院護理部
                        </h2>
                    </td>
                </tr>
            </table>
            <table width="1280" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td height="40" align="left" valign="middle" bgcolor="#FFFFCC" class="txt3">
                        獲推薦原因：<br>
                        <br>
                        協助院方推動癌症診療品質認證、榮獲護理創新獎-入院環境介紹及VCD、參加護理創新作品-隔離病房須知標示版獲優良獎、獲護理專案優良作品、參與護理資訊開發:給藥系統建置、化療給藥系統建置、參加提昇健康照護國際學術研究研討會口頭發表兩次、榮獲優良護理人員二次、積極參與防疫工作:92年SARS防疫、97年H1N1、102年H7N9帶領團隊榮獲院內模範團隊獎兩次。<br>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
