<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=0"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="StitleL">
            <li class="StitleLtxt1">護理系</li>
            <li class="StitleLtxt2">Department of Nursing</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn1">社會與企業肯定｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">100學年度護理系畢業生雇主滿意度調查結果</span>
                <br>
                為了瞭解本校系培養之畢業生與臨床照護人才之契合性，於102年收集畢業生雇主雇主對於畢業生之滿意度調查，回收率87.23%，調查結果顯示，雇主對於本校畢業生之滿意度為3.61，其中二技畢業生之滿意度為3.65，五專滿意度為3.57。依不同學制之滿意度分析，在五專畢業生，得分最高者為克盡職責，得分最低則是基礎生物醫學科學之知識；在二技畢業生，得分最高者為克盡職責，得分最低則是基礎生物醫學科學之知識。內容說明如表一，當以雷達圖分析呈現畢業生每項核心素養能力皆能平衡發展，詳見圖一~三。
                <br>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="top">
                            <img src="@Url.Content("~/Images/Map/school/img6.jpg")" width="675" height="474"><br>
                            <span style="color:#2e6aa2;">
                                圖一 全體畢業生核心素養能力雷達圖<br>
                            </span>
                            <img src="@Url.Content("~/Images/Map/school/img7.jpg")" width="1015" height="578" align="middle">
                            <span style="color:#2e6aa2;">
                                <br>
                                圖二 二技畢業生核心素養能力雷達圖<br>
                            </span>
                            <img src="@Url.Content("~/Images/Map/school/img8.jpg")" width="1015" height="578" align="middle">
                            <span style="color:#2e6aa2;">
                                <br>
                                圖三 五專畢業生核心素養能力雷達圖
                            </span>
                            <img src="@Url.Content("~/Images/Map/school/img9.jpg")" width="1015" height="578" align="middle">
                        </td>
                    </tr>
                </table>
            </ul>
        </div>
    </div>
</div>
