<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=0"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="StitleL">
            <li class="StitleLtxt1">護理系</li>
            <li class="StitleLtxt2">Department of Nursing</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn1">歷史脈絡｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <div class="ScontL">
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/img1.jpg")" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/img2.jpg")" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/img3.jpg")" width="300" height="200" border="0"></ul>
                <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/img4.jpg")" width="300" height="200" border="0"></ul>
            </div>
            <div class="ScontR">
                <ul class="Sconttxt">
                    <p>
                        本校於1989創立，設置二年制護理科。 <br>

                        1990年設置五年制護理助產科，民國八十年改為護理科。<br>

                        1992年增設夜間部二年制護理科。


                        <br>
                        1996年開始以單獨招生方式辦理原住民學生免費就讀本校五年制護理科。 <br>
                        1999年改制為慈濟技術學院，設置二年制夜間部護理科普通班。


                        <br>
                        2001年增設二年制日間部護理系、二年制進修部護理系在職班、在職專班；另二年制日間部護理科、幼兒保育科、二年制夜間部護理科停招。 <br>
                        2002年五專護理科減一班。 <br>
                        2006年二年制日間部護理系增招一班。


                        <br>
                        2008年五年制護理科原住民專班改為獎助班。 <br>
                        2009年二年制護理系每年招收50名履約獎助生。
                        <br>
                        2009年進修部二年制護理系在職專班停招，改以進修學院二技護理系招生。


                        <br>
                        2011年，五專護理科原住民專班增一班，共五班。 <br>
                        2014年，增設四年制日間部護理系一班。
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>
