
<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=0"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="StitleL">
            <li class="StitleLtxt1">護理系</li>
            <li class="StitleLtxt2">Department of Nursing</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_SessionsPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn1">專業教室照片</div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">人性化孕產中心</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga1.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga2.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">中西醫整合護理實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga3.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga4.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga5.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">內外科護理實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga7.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga6.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">兒科護理實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga9.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga8.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">重點特色教室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga10.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga11.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga12.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">健康評估實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga13.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga14.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">基礎專業教室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga15.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga16.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga17.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga18.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga19.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga20.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga21.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">基礎護理實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga22.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga23.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga24.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">婦女養生中心實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga25.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga26.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">婦幼諮詢衛教中心</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga27.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga28.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">產科護理實驗室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga29.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga30.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga31.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Sconttxt" style="width:1280px; text-align:center;">
                <span style="font-size:30px;color:#2e6aa2;">無障礙空間示範教室</span>
            </ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga32.jpg")" width="1280" height="600" border="0"></ul>
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/imga33.jpg")" width="1280" height="600" border="0"></ul>
            <p></p><p></p>
        </div>
    </div>
</div>