<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=0"></a></div>
<!--點選英文按鈕後出現-->
<!--<div id="EngDiv2" class="TWmenu6bk">
<div class="TWWINup" style="width:1535px;"><div class="WINclose"><a href="#"></a></div></div>
    <div class="TWWINdown" style="width:1500px;	height:700px;overflow-x:hidden;overflow-y:visible;"><img src="images/school/20141015-1.jpg" width="1300" height="1939"></div>
</div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="StitleL">
            <li class="StitleLtxt1">護理系</li>
            <li class="StitleLtxt2">Department of Nursing</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HistoryPartial" })">歷史脈絡｜　</a></div>
        <div class="SmenuBtn1">歷屆主任 ｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_HonourListPartial" })">榮譽榜｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_BusinessPartial" })">社會與企業肯定｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_AlumniPartial" })">傑出校友事蹟｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartNursingPartial/_PicPartial" })">專業教室照片</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic75.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第一任 1995/08/01-1999/07/31
                <br>
                姓名：林美伶
                <br>
                簡介：無資料
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic13.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第二任 1993/08/01-2002/01/31
                <br>
                姓名：彭台珠
                <br>
                簡介：畢業於慈濟大學醫學研究所護理組博士，現任慈大學護理系教授兼系主任。
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic23.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第三任 2002/02/01-2005/07/31
                <br>
                姓名：蔡娟秀
                <br>
                簡介：畢業於美國賓州大學老人護理學碩士、美國匹茲堡大學護理哲學博士，現任慈濟大學護理系副教授一職。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic30.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第四任 2005/08/01-2011/07/31
                <br>
                姓名：彭少貞
                <br>
                簡介：畢業於辛辛那提大學俄亥俄州護理與健康學院護理哲學博士9/1997-6/2002，曾任慈濟技術學院護理系行政：護理系教學組長、研究發展中心國際交流暨產學合作組組長8/2002-2/2005、慈濟護理專科衛生保健組組長、訓導處主任、人文室主任8/1991-7/1997、花蓮慈濟醫院內科病房護理師7/1987-6/1989，現任慈濟技術學院護理系主任一職。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg"><img src="@Url.Content("~/Images/Map/school/pic/pic51.jpg")" width="178" height="230" border="0"></ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第五任 2012/08/01-2013/05/31
                <br>
                姓名：羅淑芬
                <br>
                簡介：畢業於臺灣大學護理學系博士，經歷台灣傷口造口失禁學會理事2005至今、台灣安寧緩和護理學會學術組委員2009年迄今、佛教慈濟醫院護理部兼任督導2007/01至2008/07、慈濟技術學院護理系講師、1998/08至2008/01、台北榮民總醫院燒傷中心護理師1993/08至1998/08，現任慈濟技術學院護理系副教授一職。
                <br>
                <br>
            </ul>
        </div>
        <div class="ScontL1">
            <ul class="Scontimg">
                <img src="@Url.Content("~/Images/Map/school/pic/pic30.jpg")" width="178" height="230" border="0">
            </ul>
            <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                任期：第六任 2013/06/01-迄今
                <br>
                姓名：彭少貞
                <br>
                簡介：畢業於辛辛那提大學俄亥俄州護理與健康學院護理哲學博士9/1997-6/2002，曾任慈濟技術學院護理系行政：護理系教學組長、研究發展中心國際交流暨產學合作組組長8/2002-2/2005、慈濟護理專科衛生保健組組長、訓導處主任、人文室主任8/1991-7/1997、花蓮慈濟醫院內科病房護理師7/1987-6/1989，現任慈濟技術學院護理系主任一職。
                <br>
                <br>
                <br>
            </ul>
        </div>
    </div>
</div>
