@model TzuChiBackend.ViewModels.PostSearchModel
@using Core.Extensions;

@{
    ViewBag.Title = "置頂文章管理";
    string url = "http://203.64.34.2/imgs/zoom/100/100/";
}

<style>
    input,
    select,
    textarea {
        max-width: 100%;
    }
</style>


<h2>@ViewBag.Title</h2>

<div>
    <label class="control-label">總筆數：(@Model.DataCount)</label>
    <div class="btn-group">
        <button id="btn-add" type="button" class="btn btn-primary">
            新增

        </button>



    </div>
</div>


<div style="padding-top:5px;">
    <table id="table-posts" class="table">
        <thead>
            <tr style="background-color:#CCCCCC">
                <th style="width:10%">

                    封面圖

                </th>
                <th style="width:18%">
                    標題
                </th>

                <th style="width:30%">
                    摘要
                </th>
                <th style="width:10%">
                    建檔日期
                </th>
				<th style="width:10%">
					顯示順序
					<button id="btn-edit-order" class="btn btn-success  btn-xs" title="存檔">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					</button>
				</th>

                <th style="width:7%">
                    &nbsp;
                </th>
            </tr>
        </thead>
        @if (Model.DataCount > 0)
        {
            <tbody>

                @foreach (var item in Model.PostViewList)
                {
                    <tr>
                        <td>
                            @if (!item.MediaViewModels.IsNullOrEmpty())
                            {
                                string path = url + item.MediaViewModels.FirstOrDefault().Path;
                                <img src="@path">

                            }
                        </td>
                        <td>
							<a href="#" data-id="@item.Id" class="btn-edit" title="編輯">
								@item.Title 
							</a>
						</td>
                        <td> @item.Summary </td>
                        <td> @item.CreatedAt.ToString("yyyy/MM/dd") </td>
						<td > 
							<input type="hidden" class="post-id" value="@item.Id" />
							<input class="form-control display-order" value="@item.DisplayOrder" />
						
						</td>


                        <td>


                           
                            <button data-id="@item.Id" type="button" class="btn btn-danger btn-delete btn-sm" title="刪除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            

                        </td>
                    </tr>
                }
            </tbody>
        }

    </table>


</div>


<!-- Popup Photo Modal -->
@Html.Partial("_PopupPhotoModal")



@section Scripts {

    <script type="text/javascript">
        function onBeginAdd() {
            fetchPostToSelect();
        }

        function fetchPostToSelect(keyword) {
            var url = '@Url.Action("Select","Tops")';
            if (keyword) {
                url += '?keyword=' + keyword
            }

            $.ajax({
                type: "GET",
                url: url,
                dataType: 'html',
                async: true,
                success: function (data) {
                    ShowCustomModal('請選擇要置頂的文章', data)
                },
                error: function () {
                    OnError();
                }
            });
        }

        function onTopPostSelected(id) {
            var url = '@Url.Action("Edit","Tops")';

            $.ajax({
                type: "GET",
                url: url,
                data:{ id:id },
                dataType: 'html',
                success: function (data) {
                    ShowCustomModal('編輯置頂文章', data)
                },
                error: function () {
                    OnError();
                }
            });
        }
        function removeTopPost(id) {
            var url = '@Url.Action("Remove", "Tops")';

            $.ajax({
                type: "POST",
                url: url,
                data: { Id:id },
                dataType: 'json',
                success: function (result) {
                    backToTopPostIndex();
                },
                error: function () {
                    OnError();
                }
            });
        }
        function backToTopPostIndex() {
            window.location='@Url.Action("Index","Tops")'
        }

        $(document).ready(function () {
			$('#btn-edit-order').click(function (e) {
				e.preventDefault();

				let posts = [];

				$('#table-posts > tbody  > tr').each(function () {
					let id = $(this).find("input.post-id").val();
					let order = $(this).find("input.display-order").val();

					posts.push({
						Id: id,
						DisplayOrder: order
					});
				});

				var url = '@Url.Action("UpdateOrder", "Tops")';

                $.ajax({
                    type: "POST",
                    url: url,
                    data: { posts:posts },
                    dataType: 'json',
                    success: function (result) {
                        backToTopPostIndex();
                    },
                    error: function () {
                        OnError();
                    }
                });

			});

            $('#btn-add').click(function (e) {
                e.preventDefault();

                onBeginAdd();

            });

            $(".btn-edit").click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');

                onTopPostSelected(id)
            });

            $(".btn-delete").click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                swal({
                    title: "確定要將此篇文章取消置頂嗎?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        removeTopPost(id);
                    } else {

                    }
                });
            });

            $(".btn-up-down").click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var up = $(this).data('up');

                var url = '@Url.Action("UpdateOrder", "Tops")';

                $.ajax({
                    type: "POST",
                    url: url,
                    data: { Id: id, Up: up },
                    dataType: 'json',
                    success: function (result) {
                        backToTopPostIndex();
                    },
                    error: function () {
                        OnError();
                    }
                });
            });




        });
    </script>
}
