@model TzuChiClassLibrary.BO.PagenationModel
@{
    ViewBag.Title = "管理者";
    string message = TempData["ActivityMessage"] as string;
}

@section Scripts {
    <script src='@Url.Content("~/Scripts/jquery-ui/jquery-ui.js")'></script>
    <link href="@Url.Content("~/Scripts/jquery-ui/jquery-ui.css")" rel="stylesheet">
    <style type="text/css">
        .auto-style1 {
            font-size: small;
        }

        .auto-style2 {
            text-align: center;
        }

        .auto-style3 {
            font-size: small;
            text-align: center;
        }

        .auto-style4 {
            color: #FF6300;
            font-size: medium;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            if ('@message' != "") {
                alert('@message');
            }

            $(".orderT").click(function () {
                $(".OrderNum").val(parseInt($(".orderT").index(this) + 1));
                $(".Order").val(($(".Order").val() == "True") ? "false" : "true");
                document.forms["sortForm"].submit();
            });

        });
    </script>

}
<h2>管理者</h2>
<div class="auto-style4"><strong>Admin List</strong></div>
<div>
    @using (Html.BeginForm("List", "Admin", null, FormMethod.Post, new { @name = "submitForm", @role = "form", @class = "form-inline" }))
    {
        <div>
            <label class="control-label">檢索</label>
            @Html.TextBoxFor(model => model.KeyWord, new { @class = "form-control", @placeholder = "關鍵字" })
            
            @Html.HiddenFor(model => model.Page, new { @Value = 1 })
            @Html.HiddenFor(model => model.Order, new { @Value = false })
            @Html.HiddenFor(model => model.OrderNum, new { @Value = 0 })
            <input type="text" name='totalPage' value='@ViewBag.TotalPage' style='display:none' />
            <input class="btn btn-success" type="submit" value="搜索" />

        </div>
    }
</div>
<div>
    <label class="control-label">總筆數：(@ViewBag.TotalAdmin)</label>
    <input class="btn btn-default btn-sm btn-primary" type="button" value="新增" onclick="location.href='@Url.Action( "Page" )'" />
</div>
<br>
<div>
    <table class="table">
        <tr style="background-color:#CCCCCC">
            <td class="auto-style2" style="width: 100px; height: 17px">
                <a href="javascript:void(0)" class="orderT">
                    <strong>
                        帳號
                    </strong>
                </a>
            </td>
            <td class="auto-style2" style="width: 90px; height: 17px">
                <a href="javascript:void(0)" class="orderT">
                    <strong>
                        名稱
                    </strong>
                </a>
            </td>
            <td class="auto-style2" style="width: 90px; height: 17px">
                <a href="javascript:void(0)" class="orderT">
                    <strong>
                        信箱
                    </strong>
                </a>
            </td>
            <td class="auto-style2" style="width: 90px; height: 17px">
                <a href="javascript:void(0)" class="orderT">
                    <strong>
                        狀態
                    </strong>
                </a>
            </td>
            <td class="auto-style2" style="width: 90px; height: 17px">
                @*<a href="javascript:void(0)" class="orderT">*@
                    <strong>
                        操作
                    </strong>
                @*</a>*@
            </td>
        </tr>
        @foreach (var item in ViewBag.DataModel)
        {
            <tr>
                <td class="auto-style3" style="width: 50px">@item.Account</td>
                <td class="auto-style3" style="width: 90px">@item.Name</td>
                <td class="auto-style3" style="width: 90px">@item.Email</td>
                <td class="auto-style3" style="width: 90px">@(item.Enable ? "啟用" : "未啟用")</td>
                <td class="auto-style3">
                    <input type="button" value="修改" class="btn btn-default btn-sm btn-primary" onclick="location.href='@Url.Action("Page", new { AdminID = item.AdminID })'" />
                    @if (item.AdminID == "3319af4a-c676-429c-9775-8baaa974cb2f") { }else{<input type="button" value="刪除" class="btn btn-default btn-sm btn-danger" onclick="del('@item.AdminID');" />}
                </td>
            </tr>
        }
    </table>
    <br />
    <table width="100%" border="0" cellspacing="0">
        <tr>
            <td width="50%" align="right" class="inpage_basic2">

                @if (Model.Page == 1)
                {
                    <input class="btn btn-default" type="button" disabled="disabled" value="第一頁" />
                    <input class="btn btn-default" type="button" disabled="disabled" value="上一頁" />
                }
                else
                {
                    <input class="btn btn-default" type="button" id="firstPage" onclick="SubmitPage(1)" value="第一頁" />
                    <input class="btn btn-default" type="button" onclick="SubmitPage(@Model.Page-1)" value="前一頁" />
                }
                @if (Model.Page == ViewBag.TotalPage)
                {
                    <input class="btn btn-default" type="button" disabled="disabled" value="下一頁" />
                    <input class="btn btn-default" type="button" disabled="disabled" value="末頁" />
                }
                else
                {
                    <input class="btn btn-default" type="button" onclick="SubmitPage(@Model.Page+1)" value="後一頁" />
                    <input class="btn btn-default" type="button" id="lastPage" onclick="SubmitPage(@(ViewBag.TotalPage == 0 ? 1 : ViewBag.TotalPage))" value="末頁" />
                }

            </td>
            <td width="15%" align="right" class="inpage_basic2">跳至第</td>
            <td width="10%" class="inpage_basic2">
                <input type="text" id="jumptext" value="@Model.Page" size="5" />
            </td>
            <td><input class="btn btn-default" type="button" id="jumpBtn" onclick="JumpPage()" value="跳頁" /></td>
            <td class="inpage_basic2">@Model.Page/@(ViewBag.TotalPage == 0 ? 1 : ViewBag.TotalPage)頁</td>

        </tr>
    </table>
</div>

@using (Html.BeginForm("List", "Admin", null, FormMethod.Post, new { @name = "sortForm" }))
{
     <!--for 分頁-->
    <span>
        <!--對應條件-->
        @Html.HiddenFor(model => model.KeyWord)
        @Html.HiddenFor(model => model.QueryField)
        @Html.HiddenFor(model => model.BeginDateTime)
        @Html.HiddenFor(model => model.EndDateTime)
        @Html.HiddenFor(model => model.Page, new { @class = "PageSearch", @Value = 1 })
        @Html.HiddenFor(model => model.Order, new { @class = "Order" })
        @Html.HiddenFor(model => model.OrderNum, new { @class = "OrderNum" })
        @Html.HiddenFor(model => model.Page, new { @class = "PageSearch", @Value = 1 })
        <input type="text" name='totalPage' value='@ViewBag.TotalPage' style='display:none' />
    </span>
}

<script>

    function SubmitPage(page) {

        $(".PageSearch").val(page);

        if ('@Model.Page' != page)
            document.forms["sortForm"].submit();

    } // SubmitPage()

    function JumpPage() {

        $(".PageSearch").val($("#jumptext").val());

        if ('@Model.Page' != $("#jumptext").val())
            document.forms["sortForm"].submit();
    } // JumpPage()

    function del(adminID) {
        if (confirm("資料刪除後將無法復原，確定要刪除嗎?")) {
            var form = $('<form method="POST" action=" @Url.Action("Delete") ">');
            form.append($('<input type="hidden" name="AdminID" value="' + adminID + '">'));
            $('body').append(form);
            form.submit();
            form.remove();
        } else {

        }
    }

</script>