@model List<List<TzuChiClassLibrary.BO.HonourListModel>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string backend = System.Web.Configuration.WebConfigurationManager.AppSettings["upload.folder.name"];
    string backendBaseURL = System.Web.Configuration.WebConfigurationManager.AppSettings["website.backend"];
    string defaultImg = "http://www.tcsh.hlc.edu.tw/mediafile/1466/active/171/2012-10/2012-10-3-14-35-0-pic1.jpg";
}

@section styles{
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/tzuchi.css" rel="stylesheet" />
    <link href="~/Scripts/Swiper_Swiper3D/idangerous.swiper.css" rel="stylesheet" />
    <link href="~/Scripts/Swiper_Swiper3D/idangerous.swiper.3dflow.css" rel="stylesheet" />
    <style type="text/css">
        #keyDiv1 {
            position: absolute;
            width: 308px;
            height: 52px;
            z-index: 99;
            left: 1565px;
            top: 25px;
        }
        .btnright{

        }
        
        .arrowL{
            position:absolute;
            left: 100px;
            top: 100px;
            z-index:999;
        }
        .arrowR{
            position:absolute;
            margin:0px 0px 0px 0px;
            width:50px;
            height:50px;
            left: 1000px;
            top: 100px;
            z-index:32767;
        }
        .NewImg{
            background-color: white;
        }
          
        #flowerDiv1 {
	        position:absolute;
	        display:block;
	        width:645px;
	        height:600px;
	        z-index:1;       /*顯示階層最低下*/ 
	        left: 1275px;   
	        top: 450px;      /*調整上下*/
        }
        
    </style>
}

@section scripts{
    <script src="~/Scripts/HonourList.js"></script>
    <script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
    <script src="http://code.createjs.com/tweenjs-0.4.0.min.js"></script>
    <script src="http://code.createjs.com/movieclip-0.6.0.min.js"></script>
    <script src="http://code.createjs.com/preloadjs-0.3.0.min.js"></script>
    <script src="~/Scripts/flower.js"></script>
    <script src="~/Scripts/hammer.js-master/hammer.js"></script>
    <script src="~/Scripts/Swiper_Swiper3D/idangerous.swiper.js"></script>
    <script src="~/Scripts/Swiper_Swiper3D/idangerous.swiper.3dflow.js"></script>
    <script>
       
        /*防止拖動出現禁止符號*/
        window.onload = function (e) {
            var evt = e || window.event, imgs, divs, i;
            if (evt.preventDefault) {
                imgs = document.getElementsByTagName('img');
                //divs = document.getElementsByTagName('div');
                for (i = 0; i < imgs.length; i++) {
                    imgs[i].onmousedown = disableDragging;
                }
                //for (i = 0; i < divs.length; i++) {
                //    divs[i].onmousedown = disableDragging;
                //}
            }
            else {
                document.ondragstart = function () {
                    return false;
                };
            }
        };
        function disableDragging(e) {
            e.preventDefault();
            return false;
        }

        var swiper;

        $(function(){
		   
            init();
            initAnimate();
        });

        function init() {
            $(".swiper-container").css({
                "width": 2270,
                "height": 1080,
                "left":-800,
            });

            $("div[class*='yearDiv']").css("margin-top", "-20px")

            opacityInit(1, $(".swiper-slide").length);

            swiper = new Swiper('.swiper-container', {
                slidesPerView: 'auto',
                touchRatio:3.0,
                //loop: true,
                //loopAdditionalSlides: 0,
                initialSlide:0,
                //centeredSlides: false,
                //offsetPxBefore: 100,
                keyboardControl: true,
                mousewheelControl: true,
                watchActiveIndex: true,
                //Enable 3D Flow
                tdFlow: {
                    rotate: 0,
                    stretch: 200,
                    depth: 300,
                    modifier: 1,
                    shadows: false
                },
                onTouchEnd: function () {
                    var length = $(".swiper-slide").length;
                    var currrntSlide = swiper.activeIndex + 1;
                    opacityInit(currrntSlide, length);
                }
            });

            var marginTop = 0;
            for(var i = 1 ; i < $(".swiper-slide").length ; i++){
                var marginTopStr = marginTop + "px";
                $(".swiper-slide").not(".empty").eq(i).css("margin-top", marginTopStr);
                marginTop = marginTop + 8;
            }

            //依照上一頁內容跳至該年度
            var moveTo = '@Request.Params["moveTo"]';
            var index = $('.swiper-slide').index($('.yearTitle:contains("' + moveTo + '")').parent().parent().parent());
            setTimeout('moveToIndex(' + index + ')', 500);
        }

        function moveToIndex(index) {
            swiper.swipeTo(index - 1, 500);
            var length = $(".swiper-slide").length;
            var currrntSlide = swiper.activeIndex + 1;
            opacityInit(currrntSlide, length);
        }

        function opacityInit(currrntSlide, length) {
            var brightness = 100;
            for (var i = currrntSlide ; i < length ; i++) {
                filterVal = "brightness(" + brightness + "%)";
                $(".swiper-slide").not(".empty").eq(i)
                .css('filter',filterVal)
                .css('webkitFilter',filterVal)
                .css('mozFilter',filterVal)
                .css('oFilter',filterVal)
                .css('msFilter',filterVal);
                
                brightness = brightness - 4;
            }
        }
        
        function getByYear(y, contentID){
            window.location = '/HonourList/GetByYear' + '?year=' + y +'&contentID=' + contentID;
        }
    </script>

}

    


    <!--關鍵字-->
    <div id="keyDiv1">
        @using (Html.BeginForm("SearchByKeyWord", "HonourList", FormMethod.Post, new { @name = "searchFrom" }))
        {
            var placeStr = String.IsNullOrEmpty(@Request.Params["textfield"]) ? "關鍵字" : @Request.Params["textfield"];

            <ul class="menu5">
                <input name="textfield" type="text" class="menu5" id="textfield" value="" placeholder="@placeStr" size="10">
                <input name="nextPage" type="hidden" value="1">
            </ul>
            <ul class="btnright">
                <a href="#" id="search">
                    搜尋
                </a>
            </ul>
        }
    </div>
    <!--主畫面-->
    
    <div class=" wbox">
        <div class="swiper-container">
            @*<div><ul class="arrowL"><a href="#"></a></ul></div>*@

                <div class="swiper-wrapper empty">
                    @************多顯示空白資料**************@
                    <div class="swiper-slide" style="opacity:0.0">
                        <div id="SliderDiv">
                            <div class="yearDiv" style="overflow:hidden;">
                            </div>
                        </div>
                    </div>
                    @*****************多顯示空白資料*****************@

                    @foreach (var eachYearList in Model)
                    {
                        if (@eachYearList.Count > 0)
                        {
                            <!--slider Strat-->
                                <div class="swiper-slide">
                                    <div id="SliderDiv@(Model.IndexOf(eachYearList) + 1)">
                                        <div class="yearDiv" style="overflow:hidden;">

                                           @{
                                                int conversionYear = 3000;
                                                bool isConversionYear = false;
                                                if (eachYearList[0].ContentTime.Year == conversionYear)
                                                {
                                                    isConversionYear = true;
                                                }
                                            }
                                            <div class="yearTitle">@(isConversionYear ? "傑出校友" : eachYearList[0].ContentTime.Year.ToString())</div>

                                            @{int eventCount = @eachYearList.Count > 2 ? 2 : @eachYearList.Count;}

                                            @for (var i = 0; i < eventCount; i++)
                                            {
                                                string monthDay = @eachYearList[i].ContentTime.ToString("MM.dd", System.Globalization.CultureInfo.InvariantCulture);
                                                string imgPath = string.Empty;

                                                <!--新聞內文樣式@(eachYearList.IndexOf(eachYearList[i]) + 1)-->
                                                <div class="yearNew1" onclick="getByYear(@eachYearList[i].ContentTime.Year, '@eachYearList[i].ContentID')">
                                                    <ul class="yearUp1"><li class="yearUp1txt">@(isConversionYear ? "" : monthDay)</li></ul>
                                                    <ul class="yearUp2"><li class="arrowUp"><a href="#"></a></li></ul>

                                                    @if (@eachYearList[i].PicUrlList.Count > 0)
                                                    {
                                                        <ul class="NewImg" style="width:423px;height:260px;display: table-cell;  vertical-align: middle; float:none;" align="center">
                                                            @{double widthHeightRatio = 423.0 / 260.0;}
                                                            @{double imageRatio = Convert.ToDouble(eachYearList[i].PicUrlList[0].ImageWidth) / Convert.ToDouble(eachYearList[i].PicUrlList[0].ImageHeight);}

                                                            @if (widthHeightRatio > imageRatio)
                                                            {
                                                                <img height="260" style="max-width:423px; text-align: center; margin-left: auto; margin-right: auto;" src="@Url.Content(string.Format("{0}/{1}", backend, eachYearList[i].PicUrlList[0].Path))">
                                                            }
                                                            else
                                                            {
                                                                <img width="423" style="max-height:260px; text-align: center;" src="@Url.Content(string.Format("{0}/{1}", backend, eachYearList[i].PicUrlList[0].Path))">
                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <ul class="NewImg" style="background-color:white"></ul>
                                                    }

                                                    <ul class="Newbk">
                                                        <li class="Newtxt">
                                                            @eachYearList[i].ContentName
                                                        </li>
                                                    </ul>
                                                </div>
                                            }

                                            @if (eachYearList.Count > 2)
                                            {
                                                <div class="yearNew2">
                                                    <ul class="NewImg" style="width:423px;height:260px;display: table-cell; float:none; background-color: transparent;" align="center">
                                                        <img height="114" style="max-width:423px; text-align: center; margin-left: auto; margin-right: auto;" src="@Url.Content(string.Format("~/Images/HonourList/third/{0}.png", eachYearList[0].ContentTime.Year))">
                                                    </ul>
                                                    <ul class="Newbk">
                                                        <li class="Newtxt">
                                                        </li>
                                                    </ul>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @************多顯示空白資料**************@
                        <div class="swiper-slide empty" style="opacity:0.0">
                            <div id="SliderDiv">
                                <div class="yearDiv" style="overflow:hidden;">
                                </div>
                            </div>
                        </div>
                        @*****************多顯示空白資料*****************@
                        @************多顯示空白資料**************@
                        <div class="swiper-slide empty" style="opacity:0.0">
                            <div id="SliderDiv">
                                <div class="yearDiv" style="overflow:hidden;">
                                </div>
                            </div>
                        </div>
                        @*****************多顯示空白資料*****************@
                    </div>

            @*<div><ul class="arrowR"><a href="#"></a></ul></div>*@
        </div>
        <div id="flowerDiv1">
            <canvas id="canvas" width="645" height="600"></canvas>
        </div>
    </div>          



